[{:outline 110, :base 12, :detail 69, :shadow nil}
 {:outline 111, :base 13, :detail nil, :shadow nil}
 {:outline 112, :base 14, :detail 70, :shadow nil}
 {:outline 113, :base 15, :detail 71, :shadow nil}
 {:outline 114, :base 16, :detail nil, :shadow nil}
 {:outline 115, :base 17, :detail 72, :shadow nil}
 {:outline 116, :base 18, :detail 73, :shadow nil}
 {:outline 117, :base 19, :detail 74, :shadow nil}
 {:outline 118, :base 20, :detail nil, :shadow nil}
 {:outline 119, :base 21, :detail nil, :shadow nil}
 {:outline 120, :base 22, :detail 75, :shadow nil}
 {:outline 121, :base 23, :detail nil, :shadow nil}
 {:outline 122, :base 24, :detail 76, :shadow nil}
 {:outline 123, :base 25, :detail 77, :shadow nil}
 {:outline 124, :base 26, :detail 78, :shadow nil}
 {:outline 125, :base 27, :detail 79, :shadow nil}
 {:outline 126, :base 28, :detail 80, :shadow nil}
 {:outline 127, :base 29, :detail 81, :shadow nil}
 {:outline 128, :base 30, :detail 81, :shadow nil}
 {:outline 129, :base 31, :detail 82, :shadow nil}
 {:outline 130, :base 32, :detail 83, :shadow nil}
 {:outline 131, :base 33, :detail 84, :shadow nil}
 {:outline 132, :base 34, :detail 85, :shadow nil}
 {:outline 133, :base 35, :detail 86, :shadow nil}
 {:outline 134, :base 36, :detail 87, :shadow nil}
 {:outline 135, :base 37, :detail 88, :shadow nil}
 {:outline 136, :base 38, :detail nil, :shadow nil}
 {:outline 137, :base 39, :detail 89, :shadow nil}
 {:outline 138, :base 40, :detail nil, :shadow nil}
 {:outline 139, :base 41, :detail 90, :shadow nil}
 {:outline 140, :base 42, :detail 91, :shadow nil}
 {:outline 141, :base 43, :detail nil, :shadow nil}
 {:outline 142, :base 44, :detail 92, :shadow nil}
 {:outline 143, :base 45, :detail 93, :shadow nil}
 {:outline 144, :base 46, :detail 94, :shadow nil}
 {:outline 145, :base 47, :detail nil, :shadow nil}
 {:outline 146, :base 48, :detail nil, :shadow nil}
 {:outline 147, :base 49, :detail 95, :shadow nil}
 {:outline 148, :base 50, :detail nil, :shadow nil}
 {:outline 149, :base 51, :detail 96, :shadow nil}
 {:outline 150, :base 52, :detail 97, :shadow nil}
 {:outline 151, :base 53, :detail 98, :shadow nil}
 {:outline 152, :base 54, :detail 99, :shadow nil}
 {:outline 153, :base 55, :detail 100, :shadow nil}
 {:outline 154, :base 56, :detail 101, :shadow nil}
 {:outline 155, :base 57, :detail 101, :shadow nil}
 {:outline 156, :base 58, :detail 102, :shadow nil}
 {:outline 157, :base 59, :detail 103, :shadow nil}
 {:outline 158, :base 60, :detail 104, :shadow nil}
 {:outline 159, :base 61, :detail 105, :shadow nil}
 {:outline 160, :base 62, :detail 106, :shadow nil}
 {:outline 161, :base 63, :detail 107, :shadow nil}
 {:outline 162, :base 64, :detail 108, :shadow nil}
 {:outline 163, :base 65, :detail nil, :shadow nil}]
