<ng-container *ngFor="let image of data">
  <ng-container *ngFor="let mini of repeat(image)">
    <span title="{{mini.filename}}">
      <svg [attr.width]="20 * scale" [attr.height]="30 * scale" [attr.viewBox]="'0 0 ' + (20 * scale) + ' ' + (30 * scale)">
        <rect x="0" y="0" [attr.width]="20 * scale" [attr.height]="30 * scale" fill="none" stroke="black" stroke-width="2"/>
        <image [attr.href]="mini.url" [attr.x]="0" [attr.y]="0" [attr.width]="20 * scale" [attr.height]="30 * scale"/>
      </svg>
    </span>
  </ng-container>
</ng-container>
