[{:outline 92, :base 16, :detail 55, :shadow 91}
 {:outline 93, :base 17, :detail 56, :shadow 151}
 {:outline 94, :base 18, :detail 57, :shadow 153}
 {:outline 95, :base 19, :detail 58, :shadow 155}
 {:outline 96, :base 20, :detail 59, :shadow 157}
 {:outline 97, :base 21, :detail 60, :shadow 159}
 {:outline 98, :base 22, :detail 61, :shadow 161}
 {:outline 99, :base 23, :detail 62, :shadow 163}
 {:outline 100, :base 24, :detail 63, :shadow 165}
 {:outline 101, :base 25, :detail 64, :shadow 166}
 {:outline 102, :base 26, :detail 65, :shadow 167}
 {:outline 103, :base 27, :detail 66, :shadow 168}
 {:outline 104, :base 28, :detail nil, :shadow 169}
 {:outline 105, :base 29, :detail 67, :shadow 171}
 {:outline 106, :base 30, :detail 68, :shadow 173}
 {:outline 107, :base 31, :detail 69, :shadow 175}
 {:outline 108, :base 32, :detail 70, :shadow nil}
 {:outline 109, :base 33, :detail 71, :shadow nil}
 {:outline 110, :base 34, :detail 72, :shadow 177}
 {:outline 111, :base 35, :detail 73, :shadow 179}
 {:outline 112, :base 36, :detail 74, :shadow 181}
 {:outline 113, :base 37, :detail 75, :shadow 183}
 {:outline 114, :base 38, :detail 76, :shadow 184}
 {:outline 115, :base 39, :detail 77, :shadow 185}
 {:outline 116, :base 40, :detail 78, :shadow 186}
 {:outline 117, :base 41, :detail 79, :shadow 187}
 {:outline 118, :base 42, :detail 80, :shadow 188}
 {:outline 119, :base 43, :detail 81, :shadow 189}
 {:outline 120, :base 44, :detail 82, :shadow 190}
 {:outline 121, :base 45, :detail 83, :shadow 191}
 {:outline 122, :base 46, :detail 84, :shadow 192}
 {:outline 123, :base 47, :detail 85, :shadow 193}
 {:outline 124, :base 48, :detail 86, :shadow 194}
 {:outline 125, :base 49, :detail 87, :shadow 195}
 {:outline 126, :base 50, :detail 88, :shadow 196}]
