{"tiger" {:base 24, :outline 57},
 "claw" {:base 16, :detail 35, :outline 48},
 "tentacle" {:base 26, :detail 37, :outline 59},
 "wolf" {:base 20, :outline 53},
 "ape" {:base 22, :outline 55},
 "skeleton" {:base 18, :outline 50, :shadow 66},
 "alien" {:base 17, :outline 49},
 "merman" {:base 21, :outline 54},
 "steambot" {:base 29, :detail 40, :outline 62},
 "fist" {:base 12, :outline 44},
 "reach" {:base 15, :outline 47},
 "scales" {:base 23, :outline 56},
 "cannon" {:base 31, :detail 42, :outline 64},
 "shading" {:outline 52},
 "robot" {:base 19, :detail 36, :outline 51},
 "pincer" {:base 27, :detail 38, :outline 60},
 "holding" {:base 13, :outline 45},
 "leopard" {:base 25, :outline 58},
 "open" {:base 14, :outline 46},
 "batwing" {:base 28, :detail 39, :outline 61},
 "drill" {:base 30, :detail 41, :outline 63}}
