[{:outline 91, :base 16, :detail 55, :shadow 151}
 {:outline 92, :base 17, :detail 56, :shadow 152}
 {:outline 93, :base 18, :detail 57, :shadow 153}
 {:outline 94, :base 19, :detail 58, :shadow 154}
 {:outline 95, :base 20, :detail 59, :shadow 155}
 {:outline 96, :base 21, :detail 60, :shadow 156}
 {:outline 97, :base 22, :detail 61, :shadow 157}
 {:outline 98, :base 23, :detail 62, :shadow 158}
 {:outline 99, :base 24, :detail 63, :shadow 159}
 {:outline 100, :base 25, :detail 64, :shadow 160}
 {:outline 101, :base 26, :detail 65, :shadow 161}
 {:outline 102, :base 27, :detail 66, :shadow 162}
 {:outline 103, :base 28, :detail 67, :shadow 163}
 {:outline 104, :base 29, :detail 68, :shadow 164}
 {:outline 105, :base 30, :detail 69, :shadow 165}
 {:outline 106, :base 31, :detail 70, :shadow 166}
 {:outline 107, :base 32, :detail 71, :shadow 167}
 {:outline 108, :base 33, :detail 72, :shadow 168}
 {:outline 109, :base 34, :detail 73, :shadow 169}
 {:outline 110, :base 35, :detail 74, :shadow 170}
 {:outline 111, :base 36, :detail 75, :shadow 171}
 {:outline 112, :base 37, :detail 76, :shadow 172}
 {:outline 113, :base 38, :detail 77, :shadow 173}
 {:outline 114, :base 39, :detail 78, :shadow 174}
 {:outline 115, :base 40, :detail 79, :shadow 175}
 {:outline 116, :base 41, :detail 80, :shadow 176}
 {:outline 117, :base 42, :detail 81, :shadow 177}
 {:outline 118, :base 43, :detail 82, :shadow 178}
 {:outline 119, :base 44, :detail 83, :shadow 179}
 {:outline 120, :base 45, :detail 84, :shadow 180}
 {:outline 121, :base 46, :detail 85, :shadow 181}
 {:outline 122, :base 47, :detail 86, :shadow 182}
 {:outline 123, :base 48, :detail 87, :shadow 183}
 {:outline 124, :base 49, :detail 88, :shadow 184}
 {:outline 125, :base 50, :detail 89, :shadow 185}
 {:outline 126, :base 51, :detail nil, :shadow 186}
 {:outline 127, :base 52, :detail nil, :shadow 187}
 {:outline 128, :base 53, :detail nil, :shadow 188}
 {:outline 129, :base nil, :detail nil, :shadow 189}
 {:outline 130, :base nil, :detail nil, :shadow 190}
 {:outline 131, :base nil, :detail nil, :shadow 191}
 {:outline 132, :base nil, :detail nil, :shadow 192}
 {:outline 133, :base nil, :detail nil, :shadow 193}
 {:outline 134, :base nil, :detail nil, :shadow 194}
 {:outline 135, :base nil, :detail nil, :shadow 195}
 {:outline 136, :base nil, :detail nil, :shadow 196}
 {:outline 137, :base nil, :detail nil, :shadow 197}
 {:outline 138, :base nil, :detail nil, :shadow 198}
 {:outline 139, :base nil, :detail nil, :shadow 199}
 {:outline 140, :base nil, :detail nil, :shadow 200}
 {:outline 141, :base nil, :detail nil, :shadow 201}
 {:outline 142, :base nil, :detail nil, :shadow 202}
 {:outline 143, :base nil, :detail nil, :shadow 203}
 {:outline 144, :base nil, :detail nil, :shadow 204}
 {:outline 145, :base nil, :detail nil, :shadow 205}
 {:outline 146, :base nil, :detail nil, :shadow 206}
 {:outline 147, :base nil, :detail nil, :shadow 207}
 {:outline 148, :base nil, :detail nil, :shadow 208}
 {:outline 149, :base nil, :detail nil, :shadow 209}
 {:outline nil, :base nil, :detail nil, :shadow 210}
 {:outline nil, :base nil, :detail nil, :shadow 211}
 {:outline nil, :base nil, :detail nil, :shadow 212}
 {:outline nil, :base nil, :detail nil, :shadow 213}
 {:outline nil, :base nil, :detail nil, :shadow 214}
 {:outline nil, :base nil, :detail nil, :shadow 215}
 {:outline nil, :base nil, :detail nil, :shadow 216}]
