[{:outline 144, :base 12, :detail nil, :shadow nil}
 {:outline 145, :base 13, :detail nil, :shadow nil}
 {:outline 146, :base 14, :detail nil, :shadow nil}
 {:outline 147, :base 15, :detail nil, :shadow nil}
 {:outline 148, :base 16, :detail nil, :shadow nil}
 {:outline 149, :base 17, :detail 90, :shadow 236}
 {:outline 150, :base 18, :detail 90, :shadow 236}
 {:outline 151, :base 19, :detail 90, :shadow 236}
 {:outline 152, :base 20, :detail 90, :shadow 236}
 {:outline 153, :base 21, :detail 90, :shadow 236}
 {:outline 154, :base 22, :detail 91, :shadow nil}
 {:outline 155, :base 23, :detail 92, :shadow nil}
 {:outline 156, :base 24, :detail 93, :shadow nil}
 {:outline 157, :base 25, :detail 94, :shadow nil}
 {:outline 158, :base 26, :detail 95, :shadow nil}
 {:outline 159, :base nil, :detail nil, :shadow nil}
 {:outline 160, :base nil, :detail nil, :shadow nil}
 {:outline 161, :base nil, :detail nil, :shadow nil}
 {:outline 162, :base nil, :detail nil, :shadow nil}
 {:outline 163, :base nil, :detail nil, :shadow nil}
 {:outline 164, :base nil, :detail nil, :shadow nil}
 {:outline 165, :base nil, :detail nil, :shadow nil}
 {:outline 166, :base nil, :detail nil, :shadow nil}
 {:outline 167, :base nil, :detail nil, :shadow nil}
 {:outline 168, :base nil, :detail nil, :shadow nil}
 {:outline 169, :base nil, :detail nil, :shadow nil}
 {:outline 170, :base nil, :detail nil, :shadow nil}
 {:outline 171, :base nil, :detail nil, :shadow nil}
 {:outline 172, :base nil, :detail nil, :shadow nil}
 {:outline 173, :base nil, :detail nil, :shadow nil}
 {:outline 174, :base nil, :detail nil, :shadow nil}
 {:outline 175, :base 27, :detail nil, :shadow nil}
 {:outline 176, :base 28, :detail 96, :shadow nil}
 {:outline 177, :base 29, :detail 97, :shadow 237}
 {:outline 178, :base 30, :detail 98, :shadow 238}
 {:outline 179, :base 31, :detail 99, :shadow 239}
 {:outline 180, :base 32, :detail 100, :shadow 240}
 {:outline 181, :base 33, :detail 101, :shadow 241}
 {:outline 182, :base 34, :detail 102, :shadow 242}
 {:outline 183, :base 35, :detail 103, :shadow 243}
 {:outline 184, :base 36, :detail 104, :shadow 244}
 {:outline 185, :base 37, :detail 105, :shadow 245}
 {:outline 186, :base 38, :detail 106, :shadow 246}
 {:outline 187, :base 39, :detail 107, :shadow 247}
 {:outline 188, :base 40, :detail 108, :shadow 248}
 {:outline 189, :base 41, :detail 109, :shadow 249}
 {:outline 190, :base 42, :detail 110, :shadow 250}
 {:outline 191, :base 43, :detail 111, :shadow 251}
 {:outline 192, :base 44, :detail 112, :shadow 252}
 {:outline 193, :base 45, :detail 113, :shadow 253}
 {:outline 194, :base 46, :detail 114, :shadow 254}
 {:outline 195, :base 47, :detail 115, :shadow 255}
 {:outline 196, :base 48, :detail 116, :shadow 256}
 {:outline 197, :base 49, :detail 117, :shadow 257}
 {:outline 198, :base 50, :detail 118, :shadow 258}
 {:outline 199, :base 51, :detail 119, :shadow 259}
 {:outline 200, :base 52, :detail 120, :shadow 260}
 {:outline 201, :base 53, :detail 121, :shadow 261}
 {:outline 202, :base 54, :detail 122, :shadow 262}
 {:outline 203, :base 55, :detail 123, :shadow 263}
 {:outline 204, :base 56, :detail 124, :shadow 264}
 {:outline 205, :base 57, :detail 125, :shadow 265}
 {:outline 206, :base 58, :detail 126, :shadow 266}
 {:outline 207, :base 59, :detail 127, :shadow 267}
 {:outline 208, :base 60, :detail 128, :shadow 268}
 {:outline 209, :base 61, :detail 129, :shadow 269}
 {:outline 210, :base 62, :detail 130, :shadow 270}
 {:outline 211, :base 63, :detail 131, :shadow 271}
 {:outline 212, :base 64, :detail 132, :shadow 272}
 {:outline 213, :base 65, :detail 133, :shadow 273}
 {:outline 214, :base 66, :detail 134, :shadow 274}
 {:outline 215, :base 67, :detail 135, :shadow 275}
 {:outline 216, :base 68, :detail 136, :shadow 276}
 {:outline 217, :base 69, :detail 137, :shadow nil}
 {:outline 218, :base 70, :detail 138, :shadow 277}
 {:outline 219, :base 71, :detail 139, :shadow nil}
 {:outline 220, :base 72, :detail 140, :shadow 278}
 {:outline 221, :base 73, :detail nil, :shadow nil}
 {:outline 222, :base 74, :detail nil, :shadow nil}
 {:outline 223, :base 75, :detail nil, :shadow nil}
 {:outline 224, :base 76, :detail nil, :shadow nil}
 {:outline 225, :base 77, :detail nil, :shadow nil}
 {:outline 226, :base 78, :detail 141, :shadow nil}
 {:outline 227, :base 79, :detail nil, :shadow nil}
 {:outline 228, :base 80, :detail nil, :shadow nil}
 {:outline 229, :base 81, :detail nil, :shadow nil}
 {:outline 230, :base 82, :detail nil, :shadow nil}
 {:outline 231, :base 83, :detail nil, :shadow nil}
 {:outline 232, :base 84, :detail nil, :shadow nil}
 {:outline 233, :base 85, :detail 142, :shadow nil}
 {:outline 234, :base 86, :detail nil, :shadow nil}]
