[{:outline 75, :base 16, :detail 47, :shadow 74}
 {:outline 76, :base 17, :detail 48, :shadow 113}
 {:outline 77, :base 18, :detail 49, :shadow 114}
 {:outline 78, :base 19, :detail 50, :shadow 115}
 {:outline 79, :base 20, :detail 51, :shadow 116}
 {:outline 80, :base 21, :detail 52, :shadow 117}
 {:outline 81, :base 22, :detail 53, :shadow 118}
 {:outline 82, :base 23, :detail 54, :shadow 119}
 {:outline 83, :base 24, :detail 55, :shadow 120}
 {:outline 84, :base 25, :detail 56, :shadow 121}
 {:outline 85, :base 26, :detail 57, :shadow 122}
 {:outline 86, :base 27, :detail 58, :shadow 123}
 {:outline 87, :base 28, :detail 59, :shadow 124}
 {:outline 88, :base 29, :detail 60, :shadow 125}
 {:outline 89, :base 30, :detail 61, :shadow 126}
 {:outline 90, :base 31, :detail 62, :shadow 127}
 {:outline 91, :base 32, :detail 63, :shadow 128}
 {:outline 92, :base 33, :detail 64, :shadow 129}
 {:outline 93, :base 34, :detail 65, :shadow 130}
 {:outline 94, :base 35, :detail 66, :shadow 131}
 {:outline 95, :base 36, :detail 67, :shadow 132}
 {:outline 96, :base 37, :detail 68, :shadow 133}
 {:outline 97, :base 38, :detail 69, :shadow 134}]
