[{:outline 95, :base 17, :detail 58, :shadow 137}
 {:outline 96, :base 18, :detail 59, :shadow 138}
 {:outline 97, :base 19, :detail 60, :shadow 139}
 {:outline 98, :base 20, :detail 61, :shadow 140}
 {:outline 99, :base 21, :detail 62, :shadow 141}
 {:outline 100, :base 22, :detail 63, :shadow 142}
 {:outline 101, :base 23, :detail 64, :shadow 143}
 {:outline 102, :base 24, :detail 65, :shadow 144}
 {:outline 103, :base 25, :detail 66, :shadow 145}
 {:outline 104, :base 26, :detail 67, :shadow 146}
 {:outline 105, :base 27, :detail 68, :shadow 147}
 {:outline 106, :base 28, :detail 69, :shadow 148}
 {:outline 107, :base 29, :detail 70, :shadow 149}
 {:outline 108, :base 30, :detail 71, :shadow 150}
 {:outline 109, :base 31, :detail 72, :shadow 151}
 {:outline 110, :base 32, :detail 73, :shadow 152}
 {:outline 111, :base 33, :detail 74, :shadow 153}
 {:outline 112, :base 34, :detail 75, :shadow 154}
 {:outline 113, :base 35, :detail 76, :shadow 155}
 {:outline 114, :base 36, :detail 77, :shadow 156}
 {:outline 115, :base 37, :detail 78, :shadow 157}
 {:outline 116, :base 38, :detail 79, :shadow 158}
 {:outline 117, :base 39, :detail 80, :shadow 159}
 {:outline 118, :base 40, :detail 81, :shadow 160}
 {:outline 119, :base 41, :detail 82, :shadow 161}
 {:outline 120, :base 42, :detail 83, :shadow 162}
 {:outline 121, :base 43, :detail 84, :shadow 163}
 {:outline 122, :base 44, :detail 85, :shadow 164}
 {:outline 123, :base 45, :detail 86, :shadow 165}
 {:outline 124, :base 46, :detail 87, :shadow 166}
 {:outline 125, :base 47, :detail 88, :shadow 167}
 {:outline 126, :base 48, :detail 89, :shadow 168}
 {:outline 127, :base 49, :detail 90, :shadow 169}
 {:outline 128, :base 50, :detail 91, :shadow 170}
 {:outline 129, :base 51, :detail 92, :shadow 171}
 {:outline 130, :base 52, :detail 93, :shadow 172}
 {:outline 131, :base 53, :detail nil, :shadow 173}
 {:outline 132, :base 54, :detail nil, :shadow 174}
 {:outline 133, :base 55, :detail nil, :shadow 175}
 {:outline 134, :base 56, :detail nil, :shadow 176}
 {:outline 135, :base nil, :detail nil, :shadow 177}
 {:outline nil, :base nil, :detail nil, :shadow 178}
 {:outline nil, :base nil, :detail nil, :shadow 179}
 {:outline nil, :base nil, :detail nil, :shadow 180}
 {:outline nil, :base nil, :detail nil, :shadow 181}
 {:outline nil, :base nil, :detail nil, :shadow 182}
 {:outline nil, :base nil, :detail nil, :shadow 183}
 {:outline nil, :base nil, :detail nil, :shadow 184}
 {:outline nil, :base nil, :detail nil, :shadow 185}
 {:outline nil, :base nil, :detail nil, :shadow 186}]
