<form [formGroup]="fileForm">
  <div class="row">
    <div class="col-md-6 text-center">
      <dialog-wrapper
        triggerBtnName="Load File"
        [dialogConfirm]="fileLoadConfirmer()"
        [dialogClose]="fileLoadCanceler()">
        <label>Load File:</label>
        <file-load-input [loadedFileCallback]="tempDataReader()" [loadErrorCallback]="loadErrorHandler()"></file-load-input>
        <p *ngIf="loadError" class="note nes-text is-error">{{loadError}}</p>
      </dialog-wrapper>
    </div>
    <div class="col-md-6 text-center">
      <dialog-wrapper
        triggerBtnName="Save File"
        [dialogOpen]="saveDialogOpener()"
        [dialogConfirm]="saveDialogConfirmer()">
        <label for="saveFile">Save:</label>
        <input type="text" id="saveFile" class="nes-input" formControlName="saveFile" placeholder="Save File"/>
        <download-link
          [getSaveFileName]="saveFileNameGetter()"
          [saveDataUpdateTrigger]="saveDataUpdateTrigger"></download-link>
      </dialog-wrapper>
    </div>
  </div>
</form>
