[{:outline 27, :base 12, :detail nil, :shadow nil}
 {:outline 28, :base 13, :detail nil, :shadow 38}
 {:outline 27, :base 12, :detail nil, :shadow 39}
 {:outline 29, :base 14, :detail 24, :shadow nil}
 {:outline 30, :base 15, :detail 25, :shadow nil}
 {:outline 32, :base 16, :detail nil, :shadow nil}
 {:outline 33, :base 17, :detail nil, :shadow nil}
 {:outline 34, :base 18, :detail nil, :shadow nil}
 {:outline 35, :base 19, :detail nil, :shadow nil}
 {:outline 36, :base 20, :detail nil, :shadow nil}
 {:outline 31, :base nil, :detail nil, :shadow nil}]
