[["human" :base 12]
 ["skeleton" :base 13]
 ["zombie" :base 14]
 ["robot" :base 15]
 ["wolf" :base 16]
 ["?" :base 17]
 ["scales" :base 18]
 ["tiger" :base 19]
 ["leopard" :base 20]
 ["zombie" :detail 24]
 ["robot" :detail 25]
 ["human" :outline 27]
 ["skeleton" :outline 28]
 ["zombie" :outline 29]
 ["robot" :outline 30]
 ["shading" :outline 31]
 ["wolf" :outline 32]
 ["?" :outline 33]
 ["scales" :outline 34]
 ["tiger" :outline 35]
 ["leopard" :outline 36]
 ["skeleton" :shadow 38]
 ["?" :shadow 39]]