@media screen {
  .print-cobblestone {
    display: none;
  }
}

@media print {
  footer  {
    display: none;
  }
  .print-cobblestone {
    display: block;
  }
  tabbed-panel {
    display: none;
  }
  header {
    display: none;
  }
}
