<div class="row"><div class="col-1"><p></p></div></div>
<tabbed-panel
  title="CobbleStone"
  activeClass="is-success"
  initActiveIndex="0">
  <tab-child label="File">
    <file-form
      [handleLoad]="fileLoader()"
      [fileContent]="compileSaveData()"
      [defaultSaveFile]="defaultSaveFile">
    </file-form>
  </tab-child>
  <tab-child label="Palettes &amp; Tiles">
    <app-palettes-and-tiles [state]="state" [loadTrigger]="loadTrigger"></app-palettes-and-tiles>
  </tab-child>
  <tab-child label="Transforms">
    <app-transformed-tiles [state]="state" [loadTrigger]="loadTrigger"></app-transformed-tiles>
  </tab-child>
  <tab-child label="Map">
    <app-cobblestone-map [state]="state" [loadTrigger]="loadTrigger"></app-cobblestone-map>
  </tab-child>
  <!--
  <tab-child label="Paging">
    <app-map-page-picker [state]="state"></app-map-page-picker>
  </tab-child>
  -->
</tabbed-panel>
<div class="row"><div class="col-1"><p></p></div></div>
