[{:outline 70, :base 16, :detail 44, :shadow 105}
 {:outline 71, :base 17, :detail 45, :shadow 106}
 {:outline 72, :base 18, :detail 46, :shadow 107}
 {:outline 73, :base 19, :detail 47, :shadow 108}
 {:outline 74, :base 20, :detail 48, :shadow 109}
 {:outline 75, :base 21, :detail 49, :shadow 110}
 {:outline 76, :base 22, :detail 50, :shadow 111}
 {:outline 77, :base 23, :detail 51, :shadow 112}
 {:outline 78, :base 24, :detail 52, :shadow 113}
 {:outline 79, :base 25, :detail 53, :shadow 114}
 {:outline 80, :base 26, :detail 54, :shadow 115}
 {:outline 81, :base 27, :detail 55, :shadow 116}
 {:outline 82, :base 28, :detail 56, :shadow 117}
 {:outline 83, :base 29, :detail 57, :shadow 118}
 {:outline 84, :base 30, :detail 58, :shadow 119}
 {:outline 85, :base 31, :detail 59, :shadow 120}
 {:outline 86, :base 32, :detail 60, :shadow 121}
 {:outline 87, :base 33, :detail 61, :shadow 122}
 {:outline 88, :base 34, :detail 62, :shadow 123}
 {:outline 89, :base 35, :detail 63, :shadow 124}
 {:outline 90, :base 36, :detail 64, :shadow 125}
 {:outline 91, :base 37, :detail 65, :shadow 126}
 {:outline 92, :base 38, :detail 66, :shadow 127}
 {:outline 93, :base 39, :detail 67, :shadow 128}
 {:outline 94, :base 40, :detail 68, :shadow 129}
 {:outline 95, :base 41, :detail nil, :shadow 130}
 {:outline 96, :base 42, :detail nil, :shadow 131}
 {:outline 97, :base nil, :detail nil, :shadow 132}
 {:outline 98, :base nil, :detail nil, :shadow 133}
 {:outline 99, :base nil, :detail nil, :shadow 134}
 {:outline 100, :base nil, :detail nil, :shadow 135}
 {:outline 101, :base nil, :detail nil, :shadow 136}
 {:outline 102, :base nil, :detail nil, :shadow 137}
 {:outline 103, :base nil, :detail nil, :shadow 138}
 {:outline nil, :base nil, :detail nil, :shadow 139}
 {:outline nil, :base nil, :detail nil, :shadow 140}]
