{"turtleneck" {:base 17, :outline 54},
 "fangs" {:base 20, :outline 57},
 "shirtcollar" {:detail 34, :outline 48},
 "bowtie" {:base 13, :detail 35, :outline 50},
 "necktie" {:base 12, :detail 34, :outline 49},
 "armor" {:base 30, :detail 46, :outline 67},
 "egyptian" {:base 29, :detail 45, :outline 66},
 "cape" {:base 24, :outline 61},
 "chained" {:base 26, :detail 42, :outline 63},
 "clasped" {:base 25, :detail 41, :outline 62},
 "shoulders" {:base 27, :detail 43, :outline 64},
 "triangle" {:base 15, :outline 52},
 "sinister" {:base 18, :detail 37, :outline 55},
 "smallchain" {:base 19, :outline 56},
 "largebeads" {:base 22, :detail 39, :outline 59},
 "smallbeads" {:base 21, :detail 38, :outline 58},
 "cravat" {:base 14, :outline 51},
 "hoodie" {:base 16, :detail 36, :outline 53},
 "cloak" {:base 28, :detail 44, :outline 65},
 "rings" {:base 23, :detail 40, :outline 60}}
