[["necktie" :base 12]
 ["bowtie" :base 13]
 ["cravat" :base 14]
 ["triangle" :base 15]
 ["hoodie" :base 16]
 ["turtleneck" :base 17]
 ["sinister" :base 18]
 ["smallchain" :base 19]
 ["fangs" :base 20]
 ["smallbeads" :base 21]
 ["largebeads" :base 22]
 ["rings" :base 23]
 ["cape" :base 24]
 ["clasped" :base 25]
 ["chained" :base 26]
 ["shoulders" :base 27]
 ["cloak" :base 28]
 ["egyptian" :base 29]
 ["armor" :base 30]
 ["shirtcollar" :detail 34]
 ["necktie" :detail 34]
 ["bowtie" :detail 35]
 ["hoodie" :detail 36]
 ["sinister" :detail 37]
 ["smallbeads" :detail 38]
 ["largebeads" :detail 39]
 ["rings" :detail 40]
 ["clasped" :detail 41]
 ["chained" :detail 42]
 ["shoulders" :detail 43]
 ["cloak" :detail 44]
 ["egyptian" :detail 45]
 ["armor" :detail 46]
 ["shirtcollar" :outline 48]
 ["necktie" :outline 49]
 ["bowtie" :outline 50]
 ["cravat" :outline 51]
 ["triangle" :outline 52]
 ["hoodie" :outline 53]
 ["turtleneck" :outline 54]
 ["sinister" :outline 55]
 ["smallchain" :outline 56]
 ["fangs" :outline 57]
 ["smallbeads" :outline 58]
 ["largebeads" :outline 59]
 ["rings" :outline 60]
 ["cape" :outline 61]
 ["clasped" :outline 62]
 ["chained" :outline 63]
 ["shoulders" :outline 64]
 ["cloak" :outline 65]
 ["egyptian" :outline 66]
 ["armor" :outline 67]
 ]