[fit
 [back 1 :base "black" :detail "darkslategrey" :outline "lightgrey"]
 [tights 0 :base "darkslategrey" :outline "lightgrey"]
 [shirt 0 :base "darkslategrey" :outline "lightgrey"]
 [boots 6 :base "black" :detail "darkslategrey" :outline "lightgrey"]
 [tights 21 :base "black" :outline "lightgrey"]
 [shirt 71 :base "black" :outline "lightgrey"]
 [collar 12 :base "black" :outline "lightgrey"]
 [gloves 1 :base "black" :outline "lightgrey"]
 [gloves 23 :base "black" :outline "lightgrey"]
 [gloves 29 :base "black" :outline "lightgrey"]
 [head 0 :base "#fc9"]
 [belt 1 :base "yellow"]
 [belt 25 :base "gold"]
 [belt 19 :base "gold"]
 [mask 1 :base "black" :outline "lightgrey"]
 [mask 83 :base "black" :outline "lightgrey"]
 [eyes 11 :outline "white"]
 [nose 1 :outline "lightgrey"]
 [mouth 0]
 [eyebrows 24 :base "lightgrey" :outline "lightgrey"]
 [symbol_A 72 :base "black" :outline "yellow"]]