[fit
 [back 0 :base "red" :detail "red"]
 [tights 0 :base "blue"]
 [shirt 0 :base "blue"]
 [boots 6 :base "red" :detail "darkred"]
 [tights 21 :base "red"]
 [belt 1 :base "yellow"]
 [belt 24 :base "red"]
 [belt 21 :base "gold"]
 [gloves 1 :base "#fc9"]
 [gloves 0]
 [shirt 71 :base "#fc9"]
 [collar 12 :base "red"]
 [ears 1 :base "#fc9"]
 [head 0 :base "#fc9"]
 [eyes 1 :base "blue"]
 [nose 1]
 [mouth 2]
 [eyebrows 10 :base "black" :outline "black"]
 [hair 3 :base "black"]
 [hair 19 :base "black"]
 [symbol_A 15 :base "red" :detail "yellow"]
 [symbol_B 18 :base "red"]
 ]