<div class="row" >
  <div *ngIf="palette && (palette.length == (showFirst?0:1))" class="col-sm-12 nes-input text-center">
    <span>Add colors to your palette to paint.</span>
  </div>
  <div *ngIf="palette && (palette.length > (showFirst?0:1))" class="col-sm-12 text-justify palette" [style.margin]="0">
    <ng-container *ngFor="let c of palette; index as i">
      <a *ngIf="showFirst || i > 0"
        class="palette-item"
        [style.color]="c"
        [style.backgroundColor]="c"
        [style.width]="(100/(palette.length - (showFirst?0:1)))+'%'"
        href="{{href}}"
        (click)="select(i)"
        (dblclick)="setColor(i)"
        >
        <span class="nes-input palette-color {{(activeIndex == i)?'is-error':''}}">_</span>
      </a>
    </ng-container>
  </div>
</div>
