[{:outline 116, :base 12, :detail 78, :shadow nil}
 {:outline 117, :base 13, :detail 79, :shadow nil}
 {:outline 118, :base 14, :detail 80, :shadow nil}
 {:outline 119, :base 15, :detail 81, :shadow nil}
 {:outline 120, :base 16, :detail 82, :shadow nil}
 {:outline 121, :base nil, :detail nil, :shadow nil}
 {:outline 122, :base nil, :detail nil, :shadow nil}
 {:outline 123, :base 17, :detail 83, :shadow nil}
 {:outline 124, :base 12, :detail 84, :shadow nil}
 {:outline 125, :base 18, :detail nil, :shadow nil}
 {:outline 126, :base 19, :detail nil, :shadow nil}
 {:outline 127, :base 20, :detail nil, :shadow nil}
 {:outline 128, :base 21, :detail nil, :shadow nil}
 {:outline 129, :base 22, :detail 85, :shadow nil}
 {:outline 130, :base 23, :detail 86, :shadow nil}
 {:outline 131, :base 24, :detail nil, :shadow nil}
 {:outline 132, :base 25, :detail nil, :shadow nil}
 {:outline 133, :base 26, :detail 87, :shadow nil}
 {:outline 134, :base 27, :detail nil, :shadow nil}
 {:outline 135, :base 28, :detail 88, :shadow nil}
 {:outline 136, :base 29, :detail 89, :shadow nil}
 {:outline 137, :base 30, :detail 90, :shadow nil}
 {:outline 138, :base 31, :detail 91, :shadow nil}
 {:outline 139, :base 32, :detail 92, :shadow nil}
 {:outline 140, :base 33, :detail 93, :shadow nil}
 {:outline 141, :base 34, :detail 94, :shadow nil}
 {:outline 142, :base 35, :detail nil, :shadow nil}
 {:outline 143, :base 36, :detail nil, :shadow nil}
 {:outline 144, :base 37, :detail 95, :shadow nil}
 {:outline 145, :base 38, :detail nil, :shadow nil}
 {:outline 146, :base 39, :detail nil, :shadow nil}
 {:outline 147, :base 40, :detail 96, :shadow nil}
 {:outline 148, :base 41, :detail 97, :shadow nil}
 {:outline nil, :base 42, :detail nil, :shadow nil}
 {:outline nil, :base 43, :detail nil, :shadow nil}
 {:outline 149, :base nil, :detail nil, :shadow nil}
 {:outline 150, :base nil, :detail nil, :shadow nil}
 {:outline 151, :base nil, :detail nil, :shadow nil}
 {:outline 152, :base nil, :detail nil, :shadow nil}
 {:outline 153, :base nil, :detail nil, :shadow nil}
 {:outline 154, :base nil, :detail nil, :shadow nil}
 {:outline 155, :base 44, :detail 98, :shadow nil}
 {:outline 156, :base 45, :detail 99, :shadow nil}
 {:outline 157, :base 46, :detail 100, :shadow nil}
 {:outline 158, :base 47, :detail 101, :shadow nil}
 {:outline 159, :base 48, :detail 102, :shadow nil}
 {:outline 160, :base nil, :detail nil, :shadow nil}
 {:outline 161, :base nil, :detail nil, :shadow nil}
 {:outline 162, :base 49, :detail 103, :shadow nil}
 {:outline 163, :base 44, :detail 104, :shadow nil}
 {:outline 164, :base 50, :detail nil, :shadow nil}
 {:outline 165, :base 51, :detail nil, :shadow nil}
 {:outline 166, :base 52, :detail nil, :shadow nil}
 {:outline 167, :base 53, :detail nil, :shadow nil}
 {:outline 168, :base 54, :detail 105, :shadow nil}
 {:outline 169, :base 55, :detail nil, :shadow nil}
 {:outline 170, :base 56, :detail nil, :shadow nil}
 {:outline 171, :base 57, :detail nil, :shadow nil}
 {:outline 172, :base 58, :detail nil, :shadow nil}
 {:outline 173, :base 59, :detail nil, :shadow nil}
 {:outline 174, :base 60, :detail 106, :shadow nil}
 {:outline 175, :base 61, :detail 107, :shadow nil}
 {:outline 176, :base 62, :detail 108, :shadow nil}
 {:outline 177, :base 63, :detail 109, :shadow nil}
 {:outline 178, :base 64, :detail 110, :shadow nil}
 {:outline 179, :base 65, :detail nil, :shadow nil}
 {:outline 180, :base 66, :detail nil, :shadow nil}
 {:outline 181, :base 67, :detail 111, :shadow nil}
 {:outline 182, :base 68, :detail 112, :shadow nil}
 {:outline 183, :base 69, :detail 113, :shadow nil}
 {:outline 184, :base 70, :detail nil, :shadow nil}
 {:outline 185, :base 71, :detail nil, :shadow nil}
 {:outline 186, :base 72, :detail 114, :shadow nil}
 {:outline nil, :base 73, :detail nil, :shadow nil}
 {:outline nil, :base 74, :detail nil, :shadow nil}
 {:outline 187, :base nil, :detail nil, :shadow nil}
 {:outline 188, :base nil, :detail nil, :shadow nil}
 {:outline 189, :base nil, :detail nil, :shadow nil}
 {:outline 190, :base nil, :detail nil, :shadow nil}
 {:outline 191, :base nil, :detail nil, :shadow nil}
 {:outline 192, :base nil, :detail nil, :shadow nil}]
