[["shortcape" :base 12]
 ["batman" :base 13]
 ["tatters" :base 14]
 ["stormcape" :base 15]
 ["jacket" :base 16]
 ["pants" :base 17]
 ["tentrils" :base 18]
 ["rocket" :base 19]
 ["graplers" :base 20]
 ["quiver" :base 21]
 ["shortcape" :detail 25]
 ["batman" :detail 26]
 ["tatters" :detail 27]
 ["stormcape" :detail 28]
 ["tentrils" :detail 29]
 ["rocket" :detail 30]
 ["graplers" :detail 31]
 ["quiver" :detail 32]
 ["shortcape" :shadow 34]
 ["longcape" :outline 35]
 ["batman" :outline 36]
 ["shortcape" :outline 37]
 ["tatters" :outline 38]
 ["stormcape" :outline 39]
 ["jacket" :outline 40]
 ["pants" :outline 41]
 ["tentrils" :outline 42]
 ["rocket" :outline 43]
 ["graplers" :outline 44]
 ["quiver" :outline 45]
 ["batman" :shadow 47]
 ["tatters" :shadow 48]
 ["jacket" :shadow 49]]