<button type="button" class="nes-btn is-success" [ngStyle]="{padding: '0', margin: '0', 'background-color': (selectedValue||'white'), color:(selectedValue||'white')}" (click)="open()">_</button>
<dialog #myDialog id="myDialog" class="nes-dialog is-dark is-rounded">
  <form [formGroup]="colorForm">
    <div class="row">
      <div class="col">
        <div *ngIf="selectedValue" [innerHTML]="paintSelectedValue() | safeHtml">
          <svg width="100%" height="100%" viewBox="0 0 100 10">
            <rect [attr.x]="0" [attr.y]="0" [attr.width]="100" [attr.height]="10" [attr.fill]="selectedValue" [attr.stroke]="'black'" [attr.stroke-width]="1"/>
          </svg>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col">
        <div class="d-flex flex-column">
          <div class="nes-field">
            <label for="colorValue">Color Value</label>
            <input type="text" id="colorValue" formControlName="value" class="nes-input" (change)="setColor()">
          </div>
          <hr>
          <div>
            <label for="colorByName">Color by Name</label>
            <div class="nes-select">
              <select required id="colorByName" formControlName="name" (change)="setNamed()">
                <option value="" disabled selected hidden>Select Color By Name</option>
                <option *ngFor="let pair of colors | keyvalue"
                        [ngStyle]="{'background-color':pair.key,color:getForegroundColor(pair.value.toString())}"
                        [value]="pair.key">{{pair.key}}</option>
              </select>
            </div>
          </div>
          <hr>
          <div class="nes-field">
            <label for="red">Red: {{colorForm.value.red}}</label>
            <input type="range" id="red" formControlName="red" min="0" max="255" class="nes-input" (change)="setColorFromRGB()">
          </div>
          <div class="nes-field">
            <label for="green">Green: {{colorForm.value.green}}</label>
            <input type="range" id="green" formControlName="green" min="0" max="255" class="nes-input" (change)="setColorFromRGB()">
          </div>
          <div class="nes-field">
            <label for="blue">Blue: {{colorForm.value.blue}}</label>
            <input type="range" id="blue" formControlName="blue" min="0" max="255" class="nes-input" (change)="setColorFromRGB()">
          </div>
        </div>
      </div>
      <div class="col">
        <table style="padding: 0; margin: 0;">
          <tr *ngFor="let y of range(12)" style="padding: 0; margin: 0;">
            <td *ngFor="let x of range(18)" style="padding: 0; margin: 0;">
              <button [ngStyle]="{'background-color':hexFromXY(x,y),color:hexFromXY(x,y)}" (click)="setRGB(hexFromXY(x,y))">_</button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </form>
  <menu class="dialog-menu text-right">
    <button class="nes-btn" (click)="cancel()">Cancel</button>
    <button class="nes-btn is-primary" (click)="confirm()">Confirm</button>
  </menu>
</dialog>
