<svg width="0" height="0">
  <defs>
    <ng-container *ngFor="let tf of currentTransforms">
      <pattern [attr.id]="tf.key" x="0" y="0" width="1" height="1">
        <rect *ngIf="tf.bg" width="16" height="16"
              [attr.fill]="tf.bg" stroke="none" stroke-width="0"></rect>
        <ng-container *ngFor="let pixel of tf.pixels">
          <rect
            [attr.alt]="pixel.x + 'x' + pixel.y"
            [attr.x]="pixel.x"
            [attr.y]="pixel.y"
            [attr.width]="1"
            [attr.height]="1"
            [attr.fill]="pixel.fill"
            style="stroke:none;stroke-width:0;"></rect>
        </ng-container>
      </pattern>
    </ng-container>
  </defs>
</svg>
