[{:outline 98, :base nil, :detail nil, :shadow nil}
 {:outline 99, :base 12, :detail nil, :shadow nil}
 {:outline 100, :base 13, :detail nil, :shadow nil}
 {:outline 101, :base 14, :detail nil, :shadow nil}
 {:outline 102, :base 15, :detail nil, :shadow nil}
 {:outline 103, :base 16, :detail nil, :shadow nil}
 {:outline 104, :base 17, :detail nil, :shadow nil}
 {:outline 105, :base 18, :detail nil, :shadow nil}
 {:outline 106, :base 19, :detail 63, :shadow nil}
 {:outline 107, :base 20, :detail 64, :shadow nil}
 {:outline 108, :base 21, :detail nil, :shadow nil}
 {:outline 109, :base 22, :detail 65, :shadow nil}
 {:outline 110, :base 23, :detail 66, :shadow nil}
 {:outline 111, :base 24, :detail 67, :shadow nil}
 {:outline 112, :base 25, :detail 68, :shadow nil}
 {:outline 113, :base 26, :detail 69, :shadow nil}
 {:outline 114, :base 27, :detail 70, :shadow nil}
 {:outline 115, :base 28, :detail 71, :shadow nil}
 {:outline 116, :base 29, :detail 72, :shadow nil}
 {:outline 117, :base 30, :detail nil, :shadow nil}
 {:outline 118, :base 31, :detail nil, :shadow nil}
 {:outline 119, :base 32, :detail nil, :shadow nil}
 {:outline 120, :base 33, :detail 73, :shadow nil}
 {:outline 121, :base 34, :detail 74, :shadow nil}
 {:outline 122, :base 35, :detail nil, :shadow nil}
 {:outline 123, :base 36, :detail nil, :shadow nil}
 {:outline 124, :base 37, :detail 75, :shadow nil}
 {:outline 125, :base 38, :detail 76, :shadow nil}
 {:outline 126, :base 39, :detail 77, :shadow nil}
 {:outline 127, :base 40, :detail 78, :shadow nil}
 {:outline 128, :base 41, :detail 79, :shadow nil}
 {:outline 129, :base 42, :detail 80, :shadow nil}
 {:outline 130, :base 43, :detail 81, :shadow nil}
 {:outline 131, :base 44, :detail 82, :shadow nil}
 {:outline 132, :base 45, :detail 83, :shadow nil}
 {:outline 133, :base 46, :detail nil, :shadow nil}
 {:outline 134, :base 47, :detail 84, :shadow nil}
 {:outline 135, :base 48, :detail 85, :shadow nil}
 {:outline 136, :base 49, :detail 86, :shadow nil}
 {:outline 137, :base 50, :detail 87, :shadow nil}
 {:outline 138, :base 51, :detail 88, :shadow nil}
 {:outline 139, :base 52, :detail 89, :shadow nil}
 {:outline 140, :base 53, :detail 90, :shadow nil}
 {:outline 141, :base 54, :detail 91, :shadow nil}
 {:outline 142, :base 55, :detail 92, :shadow nil}
 {:outline 143, :base 56, :detail 93, :shadow nil}
 {:outline 144, :base 57, :detail 94, :shadow 148}
 {:outline 145, :base 58, :detail 95, :shadow nil}
 {:outline 146, :base 59, :detail 96, :shadow nil}]
