[{:outline 44, :base 12, :detail nil, :shadow nil}
 {:outline 45, :base 13, :detail nil, :shadow nil}
 {:outline 46, :base 14, :detail nil, :shadow nil}
 {:outline 47, :base 15, :detail nil, :shadow nil}
 {:outline 48, :base 16, :detail 35, :shadow nil}
 {:outline 49, :base 17, :detail nil, :shadow nil}
 {:outline 50, :base 18, :detail nil, :shadow nil}
 {:outline 44, :base 12, :detail nil, :shadow 66}
 {:outline 51, :base 19, :detail 36, :shadow nil}
 {:outline 53, :base 20, :detail nil, :shadow nil}
 {:outline 54, :base 21, :detail nil, :shadow nil}
 {:outline 55, :base 22, :detail nil, :shadow nil}
 {:outline 56, :base 23, :detail nil, :shadow nil}
 {:outline 57, :base 24, :detail nil, :shadow nil}
 {:outline 58, :base 25, :detail nil, :shadow nil}
 {:outline 59, :base 26, :detail 37, :shadow nil}
 {:outline 60, :base 27, :detail 38, :shadow nil}
 {:outline 61, :base 28, :detail 39, :shadow nil}
 {:outline 62, :base 29, :detail 40, :shadow nil}
 {:outline 63, :base 30, :detail 41, :shadow nil}
 {:outline 64, :base 31, :detail 42, :shadow nil}
 {:outline 52, :base nil, :detail nil, :shadow nil}]
