[["fist" :base 12]
 ["holding" :base 13]
 ["open" :base 14]
 ["reach" :base 15]
 ["claw" :base 16]
 ["alien" :base 17]
 ["skeleton" :base 18]
 ["robot" :base 19]
 ["wolf" :base 20]
 ["merman" :base 21]
 ["ape" :base 22]
 ["scales" :base 23]
 ["tiger" :base 24]
 ["leopard" :base 25]
 ["tentacle" :base 26]
 ["pincer" :base 27]
 ["batwing" :base 28]
 ["steambot" :base 29]
 ["drill" :base 30]
 ["cannon" :base 31]
 ["claw" :detail 35]
 ["robot" :detail 36]
 ["tentacle" :detail 37]
 ["pincer" :detail 38]
 ["batwing" :detail 39]
 ["steambot" :detail 40]
 ["drill" :detail 41]
 ["cannon" :detail 42]
 ["fist" :outline 44]
 ["holding" :outline 45]
 ["open" :outline 46]
 ["reach" :outline 47]
 ["claw" :outline 48]
 ["alien" :outline 49]
 ["skeleton" :outline 50]
 ["robot" :outline 51]
 ["shading" :outline 52]
 ["wolf" :outline 53]
 ["merman" :outline 54]
 ["ape" :outline 55]
 ["scales" :outline 56]
 ["tiger" :outline 57]
 ["leopard" :outline 58]
 ["tentacle" :outline 59]
 ["pincer" :outline 60]
 ["batwing" :outline 61]
 ["steambot" :outline 62]
 ["drill" :outline 63]
 ["cannon" :outline 64]
 ["skeleton" :shadow 66]]




