[{:outline 116, :base 12, :detail nil, :shadow nil}
 {:outline 117, :base 13, :detail nil, :shadow nil}
 {:outline 118, :base 14, :detail nil, :shadow nil}
 {:outline 119, :base 15, :detail nil, :shadow nil}
 {:outline 120, :base 16, :detail nil, :shadow nil}
 {:outline 121, :base 17, :detail nil, :shadow nil}
 {:outline 122, :base 18, :detail nil, :shadow nil}
 {:outline 123, :base 19, :detail nil, :shadow nil}
 {:outline 124, :base 20, :detail nil, :shadow nil}
 {:outline 125, :base 21, :detail nil, :shadow nil}
 {:outline 126, :base 22, :detail nil, :shadow nil}
 {:outline 127, :base 23, :detail nil, :shadow nil}
 {:outline 128, :base 24, :detail nil, :shadow nil}
 {:outline 129, :base 25, :detail nil, :shadow nil}
 {:outline 130, :base 26, :detail nil, :shadow nil}
 {:outline 131, :base 27, :detail nil, :shadow nil}
 {:outline 132, :base 28, :detail nil, :shadow nil}
 {:outline 133, :base 29, :detail nil, :shadow nil}
 {:outline 134, :base 30, :detail nil, :shadow nil}
 {:outline 135, :base 31, :detail nil, :shadow nil}
 {:outline 136, :base 32, :detail nil, :shadow nil}
 {:outline 137, :base 33, :detail nil, :shadow nil}
 {:outline 138, :base 34, :detail nil, :shadow nil}
 {:outline 139, :base 35, :detail nil, :shadow nil}
 {:outline 140, :base 36, :detail nil, :shadow nil}
 {:outline 141, :base 37, :detail nil, :shadow nil}
 {:outline 142, :base 38, :detail nil, :shadow nil}
 {:outline 143, :base 39, :detail nil, :shadow nil}
 {:outline 144, :base 40, :detail nil, :shadow nil}
 {:outline 145, :base 41, :detail nil, :shadow nil}
 {:outline 146, :base 42, :detail nil, :shadow nil}
 {:outline 147, :base 42, :detail nil, :shadow nil}
 {:outline 148, :base 43, :detail nil, :shadow nil}
 {:outline 149, :base 44, :detail nil, :shadow nil}
 {:outline 150, :base 45, :detail nil, :shadow nil}
 {:outline 151, :base 46, :detail nil, :shadow nil}
 {:outline 152, :base 47, :detail nil, :shadow nil}
 {:outline 153, :base 48, :detail nil, :shadow nil}
 {:outline 154, :base 49, :detail nil, :shadow nil}
 {:outline 155, :base 50, :detail nil, :shadow nil}
 {:outline 156, :base 51, :detail nil, :shadow nil}
 {:outline 157, :base 52, :detail nil, :shadow nil}
 {:outline 158, :base 53, :detail nil, :shadow nil}
 {:outline 159, :base 54, :detail nil, :shadow nil}
 {:outline 160, :base 54, :detail nil, :shadow nil}
 {:outline 161, :base 55, :detail nil, :shadow nil}
 {:outline 162, :base 56, :detail nil, :shadow nil}
 {:outline 163, :base 57, :detail nil, :shadow nil}
 {:outline 164, :base 58, :detail 110, :shadow nil}
 {:outline 165, :base nil, :detail 111, :shadow nil}
 {:outline 166, :base 59, :detail nil, :shadow nil}
 {:outline 167, :base 60, :detail nil, :shadow nil}
 {:outline 168, :base 61, :detail nil, :shadow nil}
 {:outline 169, :base 62, :detail nil, :shadow nil}
 {:outline 170, :base 63, :detail nil, :shadow nil}
 {:outline 171, :base 64, :detail nil, :shadow nil}
 {:outline 172, :base 65, :detail nil, :shadow nil}
 {:outline 173, :base 66, :detail nil, :shadow nil}
 {:outline 174, :base 67, :detail nil, :shadow nil}
 {:outline 175, :base 68, :detail nil, :shadow nil}
 {:outline 176, :base 69, :detail nil, :shadow nil}
 {:outline 177, :base 70, :detail nil, :shadow nil}
 {:outline 178, :base 71, :detail nil, :shadow nil}
 {:outline 179, :base 72, :detail nil, :shadow nil}
 {:outline 180, :base 73, :detail nil, :shadow nil}
 {:outline 181, :base 74, :detail nil, :shadow nil}
 {:outline 182, :base 75, :detail nil, :shadow nil}
 {:outline 183, :base 76, :detail nil, :shadow nil}
 {:outline 184, :base 77, :detail 112, :shadow nil}
 {:outline 185, :base 78, :detail 113, :shadow nil}
 {:outline 186, :base 79, :detail nil, :shadow nil}
 {:outline 187, :base 80, :detail nil, :shadow nil}
 {:outline 188, :base 81, :detail nil, :shadow nil}
 {:outline 189, :base 82, :detail nil, :shadow nil}
 {:outline 190, :base 82, :detail nil, :shadow nil}
 {:outline 191, :base 83, :detail nil, :shadow nil}
 {:outline 192, :base 84, :detail nil, :shadow nil}
 {:outline 193, :base 85, :detail nil, :shadow nil}
 {:outline 194, :base 85, :detail nil, :shadow nil}
 {:outline 195, :base 86, :detail nil, :shadow nil}
 {:outline 196, :base 87, :detail nil, :shadow nil}
 {:outline 197, :base 88, :detail nil, :shadow nil}
 {:outline 198, :base 88, :detail nil, :shadow nil}
 {:outline 199, :base 89, :detail nil, :shadow nil}
 {:outline 200, :base 90, :detail nil, :shadow nil}
 {:outline 201, :base 91, :detail nil, :shadow nil}
 {:outline 202, :base 92, :detail nil, :shadow nil}
 {:outline 203, :base 93, :detail nil, :shadow nil}
 {:outline 204, :base 94, :detail nil, :shadow nil}
 {:outline 205, :base 95, :detail 114, :shadow nil}
 {:outline 206, :base 96, :detail nil, :shadow nil}
 {:outline 207, :base 97, :detail nil, :shadow nil}
 {:outline 208, :base 98, :detail nil, :shadow nil}
 {:outline 209, :base 99, :detail nil, :shadow nil}
 {:outline 210, :base 100, :detail nil, :shadow nil}
 {:outline 211, :base 101, :detail nil, :shadow nil}
 {:outline 212, :base 102, :detail nil, :shadow nil}
 {:outline 213, :base 103, :detail nil, :shadow nil}
 {:outline 214, :base 104, :detail nil, :shadow nil}
 {:outline 215, :base 105, :detail nil, :shadow nil}
 {:outline 216, :base 106, :detail nil, :shadow nil}]
