{{:width "65.9px", :height "140.95px"} [17], {:width "19.2px", :height "23.95px"} [9], {:width "41.0px", :height "140.95px"} [18], {:width "80.8px", :height "79.9px"} [16], {:width "64.9px", :height "139.95px"} [6], {:width "243.2px", :height "317.5px"} [21], {:width "24.6px", :height "26.75px"} [8], {:width "25.6px", :height "27.75px"} [19], {:width "79.8px", :height "78.9px"} [5], {:width "40.0px", :height "139.95px"} [7], {:width "6.7px", :height "9.25px"} [14], {:width "242.2px", :height "311.7px"} [10], {:width "20.2px", :height "24.95px"} [20]}