[{:outline 170, :base 12, :detail nil, :shadow 169}
 {:outline 171, :base 13, :detail nil, :shadow 258}
 {:outline 172, :base 13, :detail nil, :shadow 258}
 {:outline 173, :base 14, :detail nil, :shadow 259}
 {:outline 174, :base 15, :detail nil, :shadow nil}
 {:outline 175, :base 16, :detail nil, :shadow nil}
 {:outline 176, :base 17, :detail nil, :shadow nil}
 {:outline 177, :base 18, :detail nil, :shadow nil}
 {:outline 178, :base 19, :detail nil, :shadow nil}
 {:outline 179, :base 20, :detail 101, :shadow nil}
 {:outline 180, :base 21, :detail 102, :shadow nil}
 {:outline 181, :base 22, :detail 103, :shadow nil}
 {:outline 182, :base 23, :detail 104, :shadow nil}
 {:outline 183, :base 24, :detail 105, :shadow nil}
 {:outline 184, :base 25, :detail 106, :shadow nil}
 {:outline 185, :base 26, :detail 107, :shadow nil}
 {:outline 186, :base 27, :detail 108, :shadow nil}
 {:outline 187, :base 28, :detail 109, :shadow nil}
 {:outline 188, :base 29, :detail 110, :shadow nil}
 {:outline 189, :base 30, :detail 111, :shadow nil}
 {:outline 190, :base 31, :detail 112, :shadow 260}
 {:outline 191, :base 32, :detail 113, :shadow 261}
 {:outline 192, :base 33, :detail 114, :shadow nil}
 {:outline 193, :base 34, :detail nil, :shadow nil}
 {:outline 194, :base 35, :detail nil, :shadow nil}
 {:outline 195, :base 36, :detail nil, :shadow nil}
 {:outline 196, :base 37, :detail 115, :shadow nil}
 {:outline 197, :base 38, :detail 116, :shadow nil}
 {:outline 198, :base 39, :detail 117, :shadow nil}
 {:outline 199, :base 40, :detail 118, :shadow nil}
 {:outline 200, :base 41, :detail 119, :shadow nil}
 {:outline 201, :base 42, :detail 120, :shadow nil}
 {:outline 202, :base 43, :detail 121, :shadow nil}
 {:outline 203, :base 44, :detail 122, :shadow nil}
 {:outline 204, :base 45, :detail 123, :shadow nil}
 {:outline 205, :base 46, :detail 124, :shadow nil}
 {:outline 206, :base 47, :detail 125, :shadow nil}
 {:outline 207, :base 48, :detail 126, :shadow nil}
 {:outline 208, :base 49, :detail 127, :shadow nil}
 {:outline 209, :base 50, :detail 128, :shadow nil}
 {:outline 210, :base 51, :detail 129, :shadow nil}
 {:outline 211, :base 52, :detail nil, :shadow nil}
 {:outline 212, :base 53, :detail 130, :shadow nil}
 {:outline 213, :base 54, :detail 131, :shadow nil}
 {:outline 214, :base 55, :detail 132, :shadow nil}
 {:outline 215, :base 56, :detail 133, :shadow nil}
 {:outline 216, :base 57, :detail 134, :shadow nil}
 {:outline 217, :base 58, :detail 135, :shadow nil}
 {:outline 218, :base 59, :detail 136, :shadow nil}
 {:outline 219, :base 60, :detail 137, :shadow nil}
 {:outline 220, :base 61, :detail nil, :shadow nil}
 {:outline 221, :base 62, :detail nil, :shadow nil}
 {:outline 222, :base 63, :detail 138, :shadow nil}
 {:outline 223, :base 64, :detail 139, :shadow nil}
 {:outline 224, :base 65, :detail 140, :shadow nil}
 {:outline 225, :base 66, :detail 141, :shadow nil}
 {:outline 226, :base 67, :detail 142, :shadow nil}
 {:outline 227, :base 68, :detail 143, :shadow nil}
 {:outline 228, :base 69, :detail 144, :shadow nil}
 {:outline 229, :base 70, :detail 145, :shadow nil}
 {:outline 230, :base 71, :detail nil, :shadow nil}
 {:outline 231, :base 72, :detail 146, :shadow nil}
 {:outline 232, :base 73, :detail 147, :shadow nil}
 {:outline 233, :base 74, :detail nil, :shadow nil}
 {:outline 234, :base 75, :detail 148, :shadow nil}
 {:outline 235, :base 76, :detail 149, :shadow 262}
 {:outline 236, :base 77, :detail 150, :shadow 263}
 {:outline 237, :base 78, :detail 151, :shadow nil}
 {:outline 238, :base 79, :detail 152, :shadow nil}
 {:outline 239, :base 80, :detail nil, :shadow nil}
 {:outline 240, :base 81, :detail 153, :shadow nil}
 {:outline 241, :base 82, :detail 154, :shadow nil}
 {:outline 242, :base 83, :detail 155, :shadow nil}
 {:outline 243, :base 84, :detail 156, :shadow nil}
 {:outline 244, :base 85, :detail 157, :shadow nil}
 {:outline 245, :base 86, :detail 158, :shadow 264}
 {:outline 246, :base 87, :detail 159, :shadow nil}
 {:outline 247, :base 88, :detail 160, :shadow 265}
 {:outline 248, :base 89, :detail nil, :shadow 265}
 {:outline 249, :base 90, :detail 161, :shadow nil}
 {:outline 250, :base 91, :detail 162, :shadow nil}
 {:outline 251, :base 92, :detail 163, :shadow nil}
 {:outline 252, :base 93, :detail 164, :shadow 266}
 {:outline 253, :base 94, :detail 165, :shadow 267}
 {:outline 254, :base 95, :detail nil, :shadow nil}
 {:outline 255, :base 96, :detail 166, :shadow 268}
 {:outline 256, :base 97, :detail 167, :shadow 269}]
