[{:outline 39, :base 15, :detail 28, :shadow 53}
 {:outline 40, :base 16, :detail 29, :shadow 54}
 {:outline 41, :base 17, :detail 30, :shadow 55}
 {:outline 42, :base 18, :detail 31, :shadow 56}
 {:outline 43, :base 19, :detail 32, :shadow 57}
 {:outline 44, :base 20, :detail 33, :shadow 58}
 {:outline 45, :base 21, :detail 34, :shadow 59}
 {:outline 46, :base 22, :detail 35, :shadow 60}
 {:outline 47, :base 23, :detail 36, :shadow 61}
 {:outline 48, :base 24, :detail 37, :shadow 62}
 {:outline 49, :base 25, :detail nil, :shadow 63}
 {:outline 50, :base 26, :detail nil, :shadow 64}
 {:outline 51, :base nil, :detail nil, :shadow 65}
 {:outline nil, :base nil, :detail nil, :shadow 66}
 {:outline nil, :base nil, :detail nil, :shadow 67}
 {:outline nil, :base nil, :detail nil, :shadow 68}
 {:outline nil, :base nil, :detail nil, :shadow 69}
 {:outline nil, :base nil, :detail nil, :shadow 70}
 {:outline nil, :base nil, :detail nil, :shadow 71}
 {:outline nil, :base nil, :detail nil, :shadow 72}
 {:outline nil, :base nil, :detail nil, :shadow 73}
 {:outline nil, :base nil, :detail nil, :shadow 74}
 {:outline nil, :base nil, :detail nil, :shadow 75}]
