<div class="row">
  <div class="col-4">
    <div class="showcase">
      <div class="nes-container">
        <form [formGroup]="transForm">
          <div class="row">
            <div class="col-12" *ngIf="currentKey">
              <tf-tile-disp [tf]="buildTile(currentKey)"></tf-tile-disp>
            </div>
            <div class="col-12">
              <button class="nes-btn {{exists()?'is-error':'is-success'}}" (click)=toggle()>{{exists()?'Remove':'Add'}}</button>
            </div>
            <div class="col-12">
              <label for="chars" class="text-brand">Chars: </label>
              <div class="nes-input nes-select">
                <select id="chars" class="form-control" formControlName="selectedChar">
                  <ng-container *ngFor="let aChar of unusedChars">
                    <option value="{{aChar}}">{{aChar}}</option>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-12">
              <label for="palettes" class="text-brand">Palettes: </label>
              <div class="nes-input nes-select">
                <select id="palettes" class="form-control" formControlName="selectedPalette" (change)="updateCurrentKey()">
                  <ng-container *ngIf="state.palettes">
                    <ng-container *ngFor="let palette of state.palettes | keyvalue">
                      <option value="{{palette.key}}">{{palette.key}}</option>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-12">
              <label for="selectedTile">Tiles:</label>
              <div class="nes-input nes-select">
                <select class="form-control" id="selectedTile" formControlName="selectedTile" (change)="updateCurrentKey()">
                  <ng-container *ngIf="state.tiles">
                    <ng-container *ngFor="let tile of state.tiles | keyvalue">
                      <option value="{{tile.key}}">{{tile.key}}</option>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div id="radio-flip-over" class="item">
                <label>Flip Over</label>
                <label><input type="radio" class="nes-radio" name="flip-over" formControlName="flip-over" value="flip-over" (change)="updateCurrentKey()"/><span>Yes</span></label>
                <label><input type="radio" class="nes-radio" name="flip-over" formControlName="flip-over" value="" (change)="updateCurrentKey()"/><span>No</span></label>
              </div>
            </div>
            <div class="col-12">
              <div id="radio-flip-down" class="item">
                <label>Flip Down</label>
                <label><input type="radio" class="nes-radio" name="flip-down" formControlName="flip-down" value="flip-down" (change)="updateCurrentKey()"/><span>Yes</span></label>
                <label><input type="radio" class="nes-radio" name="flip-down" formControlName="flip-down" value="" (change)="updateCurrentKey()"/><span>No</span></label>
              </div>
            </div>
            <div class="col-12">
              <div id="radio-turn-right" class="item">
                <label>Turn Right</label>
                <label><input type="radio" class="nes-radio" name="turn-right" formControlName="turn-right" value="turn-right" (change)="updateCurrentKey()"/><span>Yes</span></label>
                <label><input type="radio" class="nes-radio" name="turn-right" formControlName="turn-right" value="" (change)="updateCurrentKey()"/><span>No</span></label>
              </div>
            </div>
            <div class="col-12">
              <div id="radio-turn-left" class="item">
                <label>Turn Left</label>
                <label><input type="radio" class="nes-radio" name="turn-left" formControlName="turn-left" value="turn-left" (change)="updateCurrentKey()"/><span>Yes</span></label>
                <label><input type="radio" class="nes-radio" name="turn-left" formControlName="turn-left" value="" (change)="updateCurrentKey()"/><span>No</span></label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="showcase">
      <div class="nes-container">
        <ng-container *ngIf="state.transforms">
          <div class="row">
            <ng-container *ngFor="let tf of state.transforms | keyvalue">
              <div class="col-3" >
                <button (click)="setCurrentKey(tf.key)">
                  <tf-tile-disp [tf]="buildTile(tf.key)"></tf-tile-disp>
                </button>
              </div>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
