<div class="row">
  <div class="col-4">
    <div class="showcase">
      <div class="nes-container">
        <form [formGroup]="transForm">
          <div class="row">
            <div class="col-12" *ngIf="currentKey">
              <pixel-painter
                [pixels]="selectedTile"
                [palette]="selectedPalette"
                [width]="16"
                [height]="16"
                [scale]="2">
              </pixel-painter>
            </div>
            <div class="col-12">
              <button class="nes-btn {{exists()?'is-error':'is-success'}}" (click)=toggle()>{{exists()?'Remove':'Add'}}</button>
            </div>
            <div class="col-12">

            </div>
            <div class="col-12">
              <label for="palettes" class="text-brand">Palettes: </label>
              <div class="nes-input nes-select">
                <select id="palettes" class="form-control" formControlName="selectedPalette" (change)="updateCurrentKey()">
                  <ng-container *ngIf="state.palettes">
                    <ng-container *ngFor="let palette of state.palettes.keys()">
                      <option value="{{palette}}">{{palette}}</option>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-12">
              <label for="selectedTile">Tiles:</label>
              <div class="nes-input nes-select">
                <select class="form-control" id="selectedTile" formControlName="selectedTile" (change)="updateCurrentKey()">
                  <ng-container *ngIf="state.tiles">
                    <ng-container *ngFor="let tileName of state.tiles.keys()">
                      <option value="{{tileName}}">{{tileName}}</option>
                    </ng-container>
                  </ng-container>
                </select>
              </div>
            </div>
            <div class="col-12">
              <div id="radio-flip-over" class="item">
                <label>Flip Over</label>
                <label><input type="radio" class="nes-radio" name="flip-over" formControlName="flip-over" value="flip-over" (change)="updateCurrentKey()"/><span>Yes</span></label>
                <label><input type="radio" class="nes-radio" name="flip-over" formControlName="flip-over" value="" (change)="updateCurrentKey()"/><span>No</span></label>
              </div>
            </div>
            <div class="col-12">
              <div id="radio-flip-down" class="item">
                <label>Flip Down</label>
                <label><input type="radio" class="nes-radio" name="flip-down" formControlName="flip-down" value="flip-down" (change)="updateCurrentKey()"/><span>Yes</span></label>
                <label><input type="radio" class="nes-radio" name="flip-down" formControlName="flip-down" value="" (change)="updateCurrentKey()"/><span>No</span></label>
              </div>
            </div>
            <div class="col-12">
              <div id="radio-turn-right" class="item">
                <label>Turn Right</label>
                <label><input type="radio" class="nes-radio" name="turn-right" formControlName="turn-right" value="turn-right" (change)="updateCurrentKey()"/><span>Yes</span></label>
                <label><input type="radio" class="nes-radio" name="turn-right" formControlName="turn-right" value="" (change)="updateCurrentKey()"/><span>No</span></label>
              </div>
            </div>
            <div class="col-12">
              <div id="radio-turn-left" class="item">
                <label>Turn Left</label>
                <label><input type="radio" class="nes-radio" name="turn-left" formControlName="turn-left" value="turn-left" (change)="updateCurrentKey()"/><span>Yes</span></label>
                <label><input type="radio" class="nes-radio" name="turn-left" formControlName="turn-left" value="" (change)="updateCurrentKey()"/><span>No</span></label>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="showcase">
      <div class="nes-container">
        <div class="row">
          <ng-container *ngIf="state.transforms">
            <ng-container *ngFor="let key of state.transforms.keys()">
              <div class="col-3" >
                <button (click)="setCurrentKey(key)">

                </button>
              </div>
            </ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
