{"body.fit.arm" "33",
"body.fit.back" "23",
"body.fit.beard" "55",
"body.fit.belt" "61",
"body.fit.boots" "105",
"body.fit.chest" "83",
"body.fit.collar" "32",
"body.fit.ears" "55",
"body.fit.eyebrows" "58",
"body.fit.eyes" "76",
"body.fit.gauntlets" "67",
"body.fit.gloves" "71",
"body.fit.hair" "125",
"body.fit.hat" "99",
"body.fit.legs" "49",
"body.fit.mask" "116",
"body.fit.mouth" "47",
"body.fit.nose" "22",
"body.fit.pants" "31",
"body.fit.powers" "45",
"body.fit.shirt" "114",
"body.fit.sholders" "51",
"body.fit.stockings" "131",
"body.fit.symbol_A" "120",
"body.fit.symbol_B" "126",
"body.fit.tights" "72",
"body.fit.torso" "22",
"body.fit.wings_and_tails" "32",
"body.hulk.arm" "33",
"body.hulk.back" "23",
"body.hulk.beard" "55",
"body.hulk.belt" "61",
"body.hulk.boots" "105",
"body.hulk.chest" "83",
"body.hulk.collar" "32",
"body.hulk.ears" "55",
"body.hulk.eyebrows" "58",
"body.hulk.eyes" "76",
"body.hulk.gauntlets" "67",
"body.hulk.gloves" "71",
"body.hulk.hair" "125",
"body.hulk.hat" "99",
"body.hulk.legs" "49",
"body.hulk.mask" "116",
"body.hulk.mouth" "48",
"body.hulk.nose" "22",
"body.hulk.pants" "31",
"body.hulk.powers" "45",
"body.hulk.shirt" "114",
"body.hulk.sholders" "51",
"body.hulk.stockings" "131",
"body.hulk.symbol_A" "120",
"body.hulk.symbol_B" "126",
"body.hulk.tights" "72",
"body.hulk.torso" "23",
"body.hulk.wings_and_tails" "32",
"body.superman.arm" "34",
"body.superman.back" "23",
"body.superman.beard" "55",
"body.superman.belt" "61",
"body.superman.boots" "105",
"body.superman.chest" "85",
"body.superman.collar" "32",
"body.superman.ears" "55",
"body.superman.eyebrows" "58",
"body.superman.eyes" "76",
"body.superman.gauntlets" "67",
"body.superman.gloves" "71",
"body.superman.hair" "125",
"body.superman.hat" "99",
"body.superman.legs" "53",
"body.superman.mask" "116",
"body.superman.mouth" "47",
"body.superman.nose" "22",
"body.superman.pants" "31",
"body.superman.powers" "45",
"body.superman.shirt" "115",
"body.superman.sholders" "51",
"body.superman.stockings" "131",
"body.superman.symbol_A" "120",
"body.superman.symbol_B" "126",
"body.superman.tights" "72",
"body.superman.torso" "22",
"body.superman.wings_and_tails" "32",
"body.woman.arm" "33",
"body.woman.back" "23",
"body.woman.beard" "55",
"body.woman.belt" "61",
"body.woman.boots" "107",
"body.woman.chest" "83",
"body.woman.collar" "32",
"body.woman.ears" "55",
"body.woman.eyebrows" "58",
"body.woman.eyes" "76",
"body.woman.gauntlets" "67",
"body.woman.gloves" "71",
"body.woman.hair" "125",
"body.woman.hat" "99",
"body.woman.legs" "51",
"body.woman.mask" "116",
"body.woman.mouth" "47",
"body.woman.nose" "22",
"body.woman.pants" "31",
"body.woman.powers" "45",
"body.woman.shirt" "108",
"body.woman.sholders" "51",
"body.woman.stockings" "130",
"body.woman.symbol_A" "120",
"body.woman.symbol_B" "126",
"body.woman.tights" "70",
"body.woman.torso" "22",
"body.woman.wings_and_tails" "32"}