[{:outline 138, :base 12, :detail nil, :shadow nil}
 {:outline 139, :base 13, :detail nil, :shadow nil}
 {:outline 140, :base 14, :detail nil, :shadow nil}
 {:outline 141, :base 15, :detail nil, :shadow nil}
 {:outline 142, :base 16, :detail nil, :shadow nil}
 {:outline 143, :base 17, :detail 85, :shadow nil}
 {:outline 144, :base 18, :detail 86, :shadow nil}
 {:outline 145, :base 19, :detail 87, :shadow nil}
 {:outline 146, :base 20, :detail 88, :shadow nil}
 {:outline 147, :base 21, :detail 89, :shadow nil}
 {:outline 148, :base 22, :detail 90, :shadow nil}
 {:outline 149, :base 23, :detail 91, :shadow nil}
 {:outline 150, :base 24, :detail 92, :shadow nil}
 {:outline 151, :base 25, :detail 92, :shadow nil}
 {:outline 152, :base 26, :detail nil, :shadow nil}
 {:outline 153, :base 27, :detail 93, :shadow nil}
 {:outline 154, :base 28, :detail 94, :shadow nil}
 {:outline 155, :base 29, :detail 95, :shadow nil}
 {:outline 156, :base 30, :detail 96, :shadow nil}
 {:outline 157, :base 31, :detail 97, :shadow nil}
 {:outline 158, :base 32, :detail 98, :shadow nil}
 {:outline 159, :base 33, :detail 99, :shadow nil}
 {:outline 160, :base 34, :detail 90, :shadow nil}
 {:outline 161, :base 35, :detail 91, :shadow nil}
 {:outline 162, :base 36, :detail 92, :shadow nil}
 {:outline 163, :base 37, :detail 92, :shadow nil}
 {:outline 164, :base 38, :detail nil, :shadow nil}
 {:outline 165, :base 39, :detail 93, :shadow nil}
 {:outline 166, :base 40, :detail 100, :shadow nil}
 {:outline 167, :base 41, :detail 95, :shadow nil}
 {:outline 168, :base 42, :detail 101, :shadow nil}
 {:outline 169, :base 43, :detail 102, :shadow nil}
 {:outline 170, :base 44, :detail 103, :shadow nil}
 {:outline 171, :base 45, :detail 104, :shadow nil}
 {:outline 172, :base 46, :detail nil, :shadow nil}
 {:outline 173, :base 47, :detail 105, :shadow nil}
 {:outline 174, :base 48, :detail nil, :shadow nil}
 {:outline 175, :base 48, :detail 106, :shadow nil}
 {:outline 176, :base 49, :detail nil, :shadow nil}
 {:outline 177, :base 50, :detail 107, :shadow nil}
 {:outline 178, :base 51, :detail 108, :shadow nil}
 {:outline 179, :base 52, :detail 109, :shadow nil}
 {:outline 180, :base 53, :detail 110, :shadow nil}
 {:outline 181, :base 54, :detail nil, :shadow nil}
 {:outline 182, :base 55, :detail 111, :shadow nil}
 {:outline 183, :base 54, :detail nil, :shadow nil}
 {:outline 184, :base 56, :detail 112, :shadow nil}
 {:outline 185, :base 57, :detail nil, :shadow nil}
 {:outline 186, :base 58, :detail 113, :shadow nil}
 {:outline 187, :base 59, :detail 114, :shadow nil}
 {:outline 188, :base 60, :detail 115, :shadow nil}
 {:outline 189, :base 61, :detail 116, :shadow nil}
 {:outline 190, :base 62, :detail 117, :shadow nil}
 {:outline 191, :base 63, :detail 118, :shadow nil}
 {:outline 192, :base 64, :detail 119, :shadow nil}
 {:outline 193, :base 65, :detail 120, :shadow nil}
 {:outline 194, :base 66, :detail 121, :shadow nil}
 {:outline 195, :base 67, :detail 122, :shadow nil}
 {:outline 196, :base 68, :detail 123, :shadow 211}
 {:outline 197, :base 69, :detail 124, :shadow nil}
 {:outline 198, :base 70, :detail 125, :shadow nil}
 {:outline 199, :base 71, :detail 126, :shadow nil}
 {:outline 200, :base 72, :detail 127, :shadow 212}
 {:outline 201, :base 73, :detail 128, :shadow 213}
 {:outline 202, :base 74, :detail 129, :shadow nil}
 {:outline 203, :base 75, :detail 130, :shadow nil}
 {:outline 204, :base 76, :detail 131, :shadow nil}
 {:outline 205, :base 77, :detail 132, :shadow nil}
 {:outline 206, :base 78, :detail 133, :shadow nil}
 {:outline 207, :base 79, :detail 134, :shadow nil}
 {:outline 208, :base 80, :detail 135, :shadow nil}
 {:outline 209, :base 81, :detail 136, :shadow nil}]
