[{:outline 39, :base 12, :detail nil, :shadow nil}
 {:outline 40, :base 13, :detail nil, :shadow nil}
 {:outline 41, :base 14, :detail nil, :shadow nil}
 {:outline 42, :base 15, :detail 33, :shadow nil}
 {:outline 43, :base 16, :detail nil, :shadow nil}
 {:outline 44, :base 17, :detail 34, :shadow nil}
 {:outline 45, :base 18, :detail nil, :shadow nil}
 {:outline 46, :base 19, :detail nil, :shadow nil}
 {:outline 47, :base 20, :detail nil, :shadow nil}
 {:outline 48, :base 21, :detail 35, :shadow nil}
 {:outline 49, :base 22, :detail nil, :shadow nil}
 {:outline 50, :base 23, :detail nil, :shadow nil}
 {:outline 51, :base 24, :detail 36, :shadow nil}
 {:outline 52, :base 25, :detail nil, :shadow nil}
 {:outline 53, :base 26, :detail nil, :shadow nil}
 {:outline 54, :base 27, :detail nil, :shadow nil}
 {:outline 55, :base 28, :detail nil, :shadow nil}
 {:outline 56, :base 29, :detail 37, :shadow nil}]
