{{:width "203.7px", :height "220.0px"} [17],
 {:width "300.8px", :height "105.1px"} [36],
 {:width "301.8px", :height "106.1px"} [30],
 {:width "189.6px", :height "224.15px"} [16],
 {:width "250.6px", :height "71.1px"} [12],
 {:width "203.7px", :height "303.9px"} [40],
 {:width "189.6px", :height "284.15px"} [39],
 {:width "190.6px", :height "285.15px"} [33],
 {:width "251.6px", :height "86.5px"} [29],
 {:width "250.6px", :height "85.5px"} [28],
 {:width "164.5px", :height "178.5px"} [14],
 {:width "187.0px", :height "247.45px"} [23],
 {:width "181.5px", :height "291.1px"} [32],
 {:width "300.8px", :height "97.4px"} [13],
 {:width "180.5px", :height "255.75px"} [24],
 {:width "187.0px", :height "283.2px"} [37],
 {:width "300.8px", :height "66.55px"} [22],
 {:width "188.0px", :height "284.2px"} [31],
 {:width "204.7px", :height "304.9px"} [34],
 {:width "177.8px", :height "253.4px"} [26],
 {:width "250.5px", :height "46.95px"} [21],
 {:width "142.5px", :height "219.25px"} [25],
 {:width "126.2px", :height "147.55px"} [15],
 {:width "180.5px", :height "290.1px"} [38]}