<div *ngIf="!defs && !meta" class="d-flex flex-column">
  <div class="text-center">
    <button class="nes-btn btn-primary" (click)="loadNew('fit')">Fit</button>
  </div>
  <div class="text-center">
    <button class="nes-btn btn-primary" (click)="loadNew('hulk')">Hulk</button>
  </div>
  <div class="text-center">
    <button class="nes-btn btn-primary" (click)="loadNew('superman')">Superman</button>
  </div>
  <div class="text-center">
    <button class="nes-btn btn-primary" (click)="loadNew('woman')">Woman</button>
  </div>
  <div class="text-center">
    <label class="nes-btn" *ngIf="!processing">
      <span>Load json schematic</span>
      <input type="file" id="loadFileInput" style="display: none;" (change)="loadSchematic($event)">
    </label>
  </div>
  <div class="text-center">
    <label class="nes-btn" *ngIf="!processing">
      <span>Compile edn schematic</span>
      <input type="file" id="compileFileInput" style="display: none;" (change)="compileSchematic($event)">
    </label>
  </div>
  <div *ngIf="processing">
    <h3>"{{fileName}}" currently loading {{ellipse}}</h3>
  </div>
  <div *ngIf="base64" class="text-center">
    <img [alt]="fileName" [src]="safeURL(base64)"/>
  </div>
</div>
<div *ngIf="defs && meta">
  <span [innerHTML]="defs | safeHtml"></span>
  <div class="row">
    <div class="col">
      <form [formGroup]="schematicForm">
        <div class="d-flex flex-column">
          <div>
            <h3>{{schematic.bodyType}}</h3>
          </div>
          <div class="p-2">
            <div class="nes-select">
              <select class="nes-input" required id="bodyScale" formControlName="bodyScale" (change)="setBodyScale()">
                <option value="" disabled selected hidden>Select Body Scale</option>
                <option value="">Default</option>
                <option value="lanky">Lanky</option>
                <option value="thin">Thin</option>
                <option value="stocky">Stocky</option>
                <option value="petite">Petite</option>
              </select>
            </div>
          </div>
          <div class="p-2">
            <div class="nes-field is-inline">
              <label>Background Color</label>
              <color-picker [selectedValue]="schematicForm.value.bgColor||'white'" (retVal)="setBackgroundColor($event)"></color-picker>
            </div>
          </div>
          <div class="p-2">
            <div class="nes-field is-inline">
              <label for="bgPattern">Background Pattern</label>
              <input type="number" id="bgPattern" formControlName="bgPattern" class="nes-input" min="-1" max="{{meta.patternCount - 1}}" (change)="setBGPattern()">
            </div>
          </div>
          <div class="p-2">
            <div class="nes-select">
              <select class="nes-input" id="selectedLayer" formControlName="selectedLayer" (change)="loadSelectedLayer()">
                <option value="" disabled selected hidden>Select Layer</option>
                <ng-container *ngFor="let layer of schematic.layers; index as i">
                  <option [value]="i">{{i}}: {{layer.part}} {{layer.index}}</option>
                </ng-container>
              </select>
            </div>
          </div>
          <div class="d-flex">
            <div class="p-2">
              <button class="nes-btn is-success" (click)="addLayer()">Add Layer</button>
            </div>
            <div class="p-2">
              <button *ngIf="selectedLayer" class="nes-btn is-error" (click)="removeCurrentLayer()">Remove Layer</button>
            </div>
          </div>
          <div class="d-flex" *ngIf="selectedLayer" >
            <div class="p-2">
              <button class="nes-btn" title="Move To Back" (click)="moveToBack()"><i class='fas fa-fast-backward'></i></button>
            </div>
            <div class="p-2">
              <button class="nes-btn" title="Move Back" (click)="moveBack()"><i class='fas fa-step-backward'></i></button>
            </div>
            <div class="p-2">
              <button class="nes-btn" title="Move Forward" (click)="moveForward()"><i class='fas fa-step-forward'></i></button>
            </div>
            <div class="p-2">
              <button class="nes-btn" title="Move To Front" (click)="moveToFront()"><i class='fas fa-fast-forward'></i></button>
            </div>
          </div>
          <div class="d-flex" *ngIf="selectedLayer" >
            <select class="nes-input p-2" id="partType" formControlName="partType" (change)="setPartType()">
              <option value="" disabled selected hidden>Select Part Type</option>
              <ng-container *ngFor="let partType of partTypes">
                <option [value]="partType">{{partType}}</option>
              </ng-container>
            </select>
            <div class="nes-field is-inline p-2">
              <label for="partIndex">Part Index</label>
              <input type="number" min="0" max="{{(meta.parts.get(schematicForm.value.partType)||[]).length -1}}" id="partIndex" formControlName="partIndex" class="nes-input" (change)="setPartIndex()">
            </div>
          </div>
          <div class="d-flex" *ngIf="selectedLayer" >
            <div class="nes-field p-2">
              <label>Base Color</label>
              <color-picker [selectedValue]="selectedLayer.base||'white'" (retVal)="setBaseColor($event)"></color-picker>
            </div>
            <div class="nes-field p-2">
              <label>Detail Color</label>
              <color-picker [selectedValue]="selectedLayer.detail||'white'" (retVal)="setDetailColor($event)"></color-picker>
            </div>
            <div class="nes-field p-2">
              <label>Outline Color</label>
              <color-picker [selectedValue]="selectedLayer.outline||'white'" (retVal)="setOutlineColor($event)"></color-picker>
            </div>
          </div>
          <div class="d-flex" *ngIf="selectedIndex>=0" >
            <div class="nes-field p-2">
              <label for="opacity">Opacity</label>
              <input type="number" min="0.00" max="1.00" step="0.05" id="opacity" formControlName="opacity" class="nes-input" (change)="setOpacity()">
            </div>
            <div class="nes-field p-2">
              <label for="pattern">Pattern</label>
              <input type="number" id="pattern" formControlName="pattern" class="nes-input" min="-1" max="{{meta.patternCount - 1}}" (change)="setPattern()">
            </div>
            <div class="nes-field p-2">
              <label for="shading">Shading</label>
              <input type="number" id="shading" formControlName="shading" class="nes-input" min="-1" max="{{meta.shadingCount - 1}}" (change)="setShading()">
            </div>
          </div>
          <div class="d-flex" *ngIf="selectedIndex>=0" >
            <div>Resize</div>
            <div class="nes-field is-inline">
              <label for="resize_x">X</label>
              <input type="number" id="resize_x" step="0.01" formControlName="resize_x" class="nes-input" (change)="setResizeX()">
            </div>
            <div class="nes-field is-inline">
              <label for="resize_y">Y</label>
              <input type="number" id="resize_y" step="0.01" formControlName="resize_y" class="nes-input" (change)="setResizeY()">
            </div>
          </div>
          <div class="d-flex" *ngIf="selectedIndex>=0" >
            <div>Move</div>
            <div class="nes-field is-inline">
              <label for="move_x">X</label>
              <input type="number" id="move_x" formControlName="move_x" class="nes-input" (change)="setMoveX()">
            </div>
            <div class="nes-field is-inline">
              <label for="move_y">Y</label>
              <input type="number" id="move_y" formControlName="move_y" class="nes-input" (change)="setMoveY()">
            </div>
          </div>
          <div *ngIf="selectedIndex>=0" >
            <button class="nes-btn {{schematicForm.value.flip?'flipH':''}}" (click)="toggleFlip()">Flip?</button>
          </div>
          <div class="d-flex">
            <div class="p-2">
              <button class="nes-btn" (click)="saveData()">Save Data</button>
            </div>
            <div class="p-2">
              <button class="nes-btn" (click)="saveImage()">Save Image</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <outfitter-display [schematic]="schematic" [meta]="meta"></outfitter-display>
    </div>
  </div>
</div>
