<div *ngIf="!defs && !meta" class="d-flex flex-column">
  <div class="text-center">
    <button class="nes-btn btn-primary" (click)="loadBodyType('fit')">Fit</button>
  </div>
  <div class="text-center">
    <button class="nes-btn btn-primary" (click)="loadBodyType('hulk')">Hulk</button>
  </div>
  <div class="text-center">
    <button class="nes-btn btn-primary" (click)="loadBodyType('superman')">Superman</button>
  </div>
  <div class="text-center">
    <button class="nes-btn btn-primary" (click)="loadBodyType('woman')">Woman</button>
  </div>
  <div class="text-center">
    <label class="nes-btn" *ngIf="!processing">
      <span>Select your file</span>
      <input type="file" id="fileInput" style="display: none;" (change)="loadSchematic($event)">
    </label>
  </div>
  <div *ngIf="processing">
    <h3>"{{fileName}}" currently loading {{ellipse}}</h3>
  </div>
  <div *ngIf="base64" class="text-center">
    <img [alt]="fileName" [src]="safeURL(base64)"/>
  </div>
</div>
<div *ngIf="defs && meta">
  <span [innerHTML]="defs | safeHtml"></span>
  <div class="row">
    <div class="col">
      <form [formGroup]="schematicForm">
        <div class="d-flex flex-column">
          <div>
            <h3>{{schematic.bodyType}}</h3>
          </div>
          <div>
            <div class="nes-select">
              <select required id="bodyScale" formControlName="bodyScale" (change)="setBodyScale()">
                <option value="" disabled selected hidden>Select Body Scale</option>
                <option value="">Default</option>
                <option value="lanky">Lanky</option>
                <option value="thin">Thin</option>
                <option value="stocky">Stocky</option>
                <option value="petite">Petite</option>
              </select>
            </div>
          </div>
          <div>
            <div class="nes-field is-inline">
              <label>Background Color</label>
              <color-picker [initValue]="schematicForm.value.bgColor" (retVal)="setBackgroundColor($event)"></color-picker>
            </div>
          </div>
          <div>
            <div class="nes-field is-inline">
              <label for="bgPattern">Background Pattern</label>
              <input type="number" id="bgPattern" formControlName="bgPattern" class="nes-input" min="-1" [max]="meta.patternCount" (change)="setBGPattern()">
            </div>
          </div>
          <div>
            <div class="nes-select">
              <select required id="selectedLayer" formControlName="selectedLayer" (change)="loadSelectedLayer()">
                <option value="" disabled selected hidden>Select Layer</option>
                <ng-container *ngFor="let layer of schematic.layers; index as i">
                  <option [value]="i">{{i}}: {{layer.part}} {{layer.index}}</option>
                </ng-container>
              </select>
            </div>
          </div>
          <div class="d-flex">
            <div>
              <button class="nes-btn is-success" (click)="addLayer()">Add Layer</button>
            </div>
            <div>
              <button *ngIf="schematicForm.value.selectedLayer>=0" class="nes-btn is-error" (click)="removeCurrentLayer()">Remove Layer</button>
            </div>
          </div>
          <div class="d-flex" *ngIf="schematicForm.value.selectedLayer>=0" >
            <div>
              <button class="nes-btn" title="Move To Back" (click)="moveToBack()"><i class='fas fa-fast-backward'></i></button>
            </div>
            <div>
              <button class="nes-btn" title="Move Back" (click)="moveBack()"><i class='fas fa-step-backward'></i></button>
            </div>
            <div>
              <button class="nes-btn" title="Move Forward" (click)="moveForward()"><i class='fas fa-step-forward'></i></button>
            </div>
            <div>
              <button class="nes-btn" title="Move To Front" (click)="moveToFront()"><i class='fas fa-fast-forward'></i></button>
            </div>
          </div>
          <div class="d-flex" *ngIf="schematicForm.value.selectedLayer>=0" >
            <select required id="partType" formControlName="partType" (change)="setPartType()">
              <option value="" disabled selected hidden>Select Part Type</option>
              <ng-container *ngFor="let partType of partTypes">
                <option [value]="partType">{{partType}}</option>
              </ng-container>
            </select>
            <div class="nes-field">
              <label for="partIndex">Part Index</label>
              <input type="number" min="0" [max]="maxPartIndex" id="partIndex" formControlName="partIndex" class="nes-input" (change)="setPartIndex()">
            </div>
          </div>
          <div class="d-flex" *ngIf="schematicForm.value.selectedLayer>=0" >
            <div class="nes-field">
              <label>Base Color</label>
              <color-picker [initValue]="schematicForm.value.base" (retVal)="setBaseColor($event)"></color-picker>
            </div>
            <div class="nes-field">
              <label>Detail Color</label>
              <color-picker [initValue]="schematicForm.value.detail" (retVal)="setDetailColor($event)"></color-picker>
            </div>
            <div class="nes-field">
              <label>Outline Color</label>
              <color-picker [initValue]="schematicForm.value.outline" (retVal)="setOutlineColor($event)"></color-picker>
            </div>
          </div>
          <div class="d-flex" *ngIf="schematicForm.value.selectedLayer>=0" >
            <div class="nes-field">
              <label for="opacity">Opacity</label>
              <input type="number" min="0" max="1.00" step="0.05" id="opacity" formControlName="opacity" class="nes-input" (change)="setOpacity()">
            </div>
            <div class="nes-field">
              <label for="pattern">Pattern</label>
              <input type="number" id="pattern" formControlName="pattern" class="nes-input" min="-1" [max]="meta.patternCount" (change)="setPattern()">
            </div>
            <div class="nes-field">
              <label for="shading">Shading</label>
              <input type="number" id="shading" formControlName="shading" class="nes-input" min="-1" [max]="meta.shadingCount" (change)="setShading()">
            </div>
          </div>
          <div class="d-flex" *ngIf="schematicForm.value.selectedLayer>=0" >
            <div>Move</div>
            <div class="nes-field is-inline">
              <label for="resize_x">X</label>
              <input type="number" id="resize_x" formControlName="resize_x" class="nes-input" (change)="setResizeX()">
            </div>
            <div class="nes-field is-inline">
              <label for="resize_y">Y</label>
              <input type="number" id="resize_y" formControlName="resize_y" class="nes-input" (change)="setResizeY()">
            </div>
          </div>
          <div class="d-flex" *ngIf="schematicForm.value.selectedLayer" >
            <div>Move</div>
            <div class="nes-field is-inline">
              <label for="move_x">X</label>
              <input type="number" id="move_x" formControlName="move_x" class="nes-input" (change)="setMoveX()">
            </div>
            <div class="nes-field is-inline">
              <label for="move_y">Y</label>
              <input type="number" id="move_y" formControlName="move_y" class="nes-input" (change)="setMoveY()">
            </div>
          </div>
          <div *ngIf="schematicForm.value.selectedLayer>=0" >
            <label>
              <input type="checkbox" formControlName="flip" class="nes-checkbox" (change)="setFlip()"/>
              <span>Flip?</span>
            </label>
          </div>
        </div>
      </form>
    </div>
    <div class="col">
      <outfitter-display [schematic]="schematic" [meta]="meta"></outfitter-display>
    </div>
  </div>
</div>
