[{:outline 100, :base 18, :detail 61, :shadow 145}
 {:outline 101, :base 19, :detail 62, :shadow 146}
 {:outline 102, :base 20, :detail 63, :shadow 147}
 {:outline 103, :base 21, :detail 64, :shadow 148}
 {:outline 104, :base 22, :detail 65, :shadow 149}
 {:outline 105, :base 23, :detail 66, :shadow 150}
 {:outline 106, :base 24, :detail 67, :shadow 151}
 {:outline 107, :base 25, :detail 68, :shadow 152}
 {:outline 108, :base 26, :detail 69, :shadow 153}
 {:outline 109, :base 27, :detail 70, :shadow 154}
 {:outline 110, :base 28, :detail 71, :shadow 155}
 {:outline 111, :base 29, :detail 72, :shadow 156}
 {:outline 112, :base 30, :detail 73, :shadow 157}
 {:outline 113, :base 31, :detail 74, :shadow 158}
 {:outline 114, :base 32, :detail 75, :shadow 159}
 {:outline 115, :base 33, :detail 76, :shadow 160}
 {:outline 116, :base 34, :detail 77, :shadow 161}
 {:outline 117, :base 35, :detail 78, :shadow 162}
 {:outline 118, :base 36, :detail 79, :shadow 163}
 {:outline 119, :base 37, :detail 80, :shadow 164}
 {:outline 120, :base 38, :detail 81, :shadow 165}
 {:outline 121, :base 39, :detail 82, :shadow 166}
 {:outline 122, :base 40, :detail 83, :shadow 167}
 {:outline 123, :base 41, :detail 84, :shadow 168}
 {:outline 124, :base 42, :detail 85, :shadow 169}
 {:outline 125, :base 43, :detail 86, :shadow 170}
 {:outline 126, :base 44, :detail 87, :shadow 171}
 {:outline 127, :base 45, :detail 88, :shadow 172}
 {:outline 128, :base 46, :detail 89, :shadow 173}
 {:outline 129, :base 47, :detail 90, :shadow 174}
 {:outline 130, :base 48, :detail 91, :shadow 175}
 {:outline 131, :base 49, :detail 92, :shadow 176}
 {:outline 132, :base 50, :detail 93, :shadow 177}
 {:outline 133, :base 51, :detail 94, :shadow 178}
 {:outline 134, :base 52, :detail 95, :shadow 179}
 {:outline 135, :base 53, :detail 96, :shadow 180}
 {:outline 136, :base 54, :detail 97, :shadow 181}
 {:outline 137, :base 55, :detail 98, :shadow 182}
 {:outline 138, :base 56, :detail nil, :shadow 183}
 {:outline 139, :base 57, :detail nil, :shadow 184}
 {:outline 140, :base 58, :detail nil, :shadow 185}
 {:outline 141, :base 59, :detail nil, :shadow 186}
 {:outline 142, :base nil, :detail nil, :shadow 187}
 {:outline 143, :base nil, :detail nil, :shadow 188}
 {:outline nil, :base nil, :detail nil, :shadow 189}
 {:outline nil, :base nil, :detail nil, :shadow 190}
 {:outline nil, :base nil, :detail nil, :shadow 191}
 {:outline nil, :base nil, :detail nil, :shadow 192}
 {:outline nil, :base nil, :detail nil, :shadow 193}
 {:outline nil, :base nil, :detail nil, :shadow 194}
 {:outline nil, :base nil, :detail nil, :shadow 195}
 {:outline nil, :base nil, :detail nil, :shadow 196}
 {:outline nil, :base nil, :detail nil, :shadow 197}
 {:outline nil, :base nil, :detail nil, :shadow 198}
 {:outline nil, :base nil, :detail nil, :shadow 199}
 {:outline nil, :base nil, :detail nil, :shadow 200}
 {:outline nil, :base nil, :detail nil, :shadow 201}
 {:outline nil, :base nil, :detail nil, :shadow 202}
 {:outline nil, :base nil, :detail nil, :shadow 203}
 {:outline nil, :base nil, :detail nil, :shadow 204}
 {:outline nil, :base nil, :detail nil, :shadow 205}
 {:outline nil, :base nil, :detail nil, :shadow 206}
 {:outline nil, :base nil, :detail nil, :shadow 207}
 {:outline nil, :base nil, :detail nil, :shadow 208}
 {:outline nil, :base nil, :detail nil, :shadow 209}
 {:outline nil, :base nil, :detail nil, :shadow 210}
 {:outline nil, :base nil, :detail nil, :shadow 211}
 {:outline nil, :base nil, :detail nil, :shadow 212}
 {:outline nil, :base nil, :detail nil, :shadow 213}
 {:outline nil, :base nil, :detail nil, :shadow 214}
 {:outline nil, :base nil, :detail nil, :shadow 215}
 {:outline nil, :base nil, :detail nil, :shadow 216}
 {:outline nil, :base nil, :detail nil, :shadow 217}
 {:outline nil, :base nil, :detail nil, :shadow 218}
 {:outline nil, :base nil, :detail nil, :shadow 219}
 {:outline nil, :base nil, :detail nil, :shadow 220}
 {:outline nil, :base nil, :detail nil, :shadow 221}
 {:outline nil, :base nil, :detail nil, :shadow 222}
 {:outline nil, :base nil, :detail nil, :shadow 223}]
