[{:outline 58, :base 12, :detail nil, :shadow nil}
 {:outline 59, :base 13, :detail nil, :shadow nil}
 {:outline 60, :base nil, :detail nil, :shadow nil}
 {:outline 61, :base 14, :detail nil, :shadow nil}
 {:outline 62, :base 15, :detail nil, :shadow nil}
 {:outline 63, :base 16, :detail nil, :shadow nil}
 {:outline 64, :base 17, :detail nil, :shadow nil}
 {:outline 65, :base 18, :detail nil, :shadow nil}
 {:outline 66, :base 19, :detail nil, :shadow nil}
 {:outline 67, :base 20, :detail nil, :shadow nil}
 {:outline 68, :base 21, :detail nil, :shadow nil}
 {:outline 69, :base 22, :detail nil, :shadow nil}
 {:outline 70, :base nil, :detail nil, :shadow nil}
 {:outline 71, :base 23, :detail nil, :shadow nil}
 {:outline 72, :base nil, :detail nil, :shadow nil}
 {:outline 73, :base 24, :detail nil, :shadow nil}
 {:outline 74, :base 25, :detail nil, :shadow nil}
 {:outline 75, :base 26, :detail nil, :shadow nil}
 {:outline 76, :base nil, :detail nil, :shadow nil}
 {:outline 77, :base 27, :detail nil, :shadow nil}
 {:outline 78, :base 28, :detail nil, :shadow nil}
 {:outline 79, :base 29, :detail nil, :shadow nil}
 {:outline 80, :base 30, :detail nil, :shadow nil}
 {:outline 81, :base 31, :detail nil, :shadow nil}
 {:outline 82, :base 32, :detail nil, :shadow nil}
 {:outline 83, :base 33, :detail nil, :shadow nil}
 {:outline 84, :base 34, :detail nil, :shadow nil}
 {:outline 85, :base 35, :detail nil, :shadow nil}
 {:outline 86, :base 36, :detail nil, :shadow nil}
 {:outline 87, :base 37, :detail nil, :shadow nil}
 {:outline 88, :base 38, :detail nil, :shadow nil}
 {:outline 89, :base 39, :detail nil, :shadow nil}
 {:outline nil, :base 40, :detail nil, :shadow nil}
 {:outline nil, :base 41, :detail nil, :shadow nil}
 {:outline nil, :base 42, :detail nil, :shadow nil}
 {:outline nil, :base 43, :detail nil, :shadow nil}
 {:outline nil, :base 44, :detail nil, :shadow nil}
 {:outline 90, :base 45, :detail nil, :shadow nil}
 {:outline 91, :base 46, :detail nil, :shadow nil}
 {:outline 92, :base 47, :detail nil, :shadow nil}
 {:outline 93, :base 48, :detail nil, :shadow nil}
 {:outline 94, :base 49, :detail nil, :shadow nil}
 {:outline 95, :base 50, :detail nil, :shadow nil}
 {:outline 96, :base 51, :detail nil, :shadow nil}
 {:outline 97, :base 52, :detail nil, :shadow nil}
 {:outline 98, :base 53, :detail nil, :shadow nil}]
