<!--The content below is only a placeholder and can be replaced.-->
<div class="jumbotron text-center" style="margin-bottom: 0;">
  <h1 class="display-1">{{ title }}</h1>
</div>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <a class="navbar-brand" href="#">Carabiner Apps</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" onclick="toggleDropDown('collapsibleNavbar')">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#/cobblestone">CobbleStone</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/mastermold">MasterMold</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#/spritely">Spritely</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-fluid">
  <router-outlet></router-outlet>
</div>
<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Built by Daniel Allen Johnson &copy; 2019</p>
  <p>Contact at <a href="https://twitter.com/voltron42" target="_blank">@voltron42</a> on Twitter.</p>
</div>
