[{:outline 72, :base 12, :detail nil, :shadow nil}
 {:outline 73, :base 13, :detail nil, :shadow nil}
 {:outline 74, :base 14, :detail nil, :shadow nil}
 {:outline 75, :base 15, :detail nil, :shadow nil}
 {:outline 76, :base 16, :detail nil, :shadow nil}
 {:outline 77, :base 17, :detail nil, :shadow nil}
 {:outline 78, :base 18, :detail nil, :shadow nil}
 {:outline 79, :base 19, :detail nil, :shadow nil}
 {:outline 80, :base 20, :detail 57, :shadow nil}
 {:outline 81, :base 21, :detail 58, :shadow nil}
 {:outline 82, :base 22, :detail 59, :shadow nil}
 {:outline 83, :base 23, :detail 60, :shadow nil}
 {:outline 84, :base 24, :detail 61, :shadow nil}
 {:outline 85, :base 25, :detail 62, :shadow nil}
 {:outline 86, :base 26, :detail 63, :shadow nil}
 {:outline 87, :base 27, :detail nil, :shadow nil}
 {:outline 88, :base 28, :detail nil, :shadow nil}
 {:outline 89, :base 29, :detail nil, :shadow nil}
 {:outline 90, :base 30, :detail nil, :shadow nil}
 {:outline 91, :base 31, :detail nil, :shadow nil}
 {:outline 92, :base 32, :detail nil, :shadow nil}
 {:outline 93, :base 33, :detail nil, :shadow nil}
 {:outline 94, :base 34, :detail nil, :shadow nil}
 {:outline 95, :base 35, :detail nil, :shadow nil}
 {:outline 96, :base 36, :detail nil, :shadow nil}
 {:outline 97, :base 37, :detail nil, :shadow nil}
 {:outline 98, :base 38, :detail nil, :shadow nil}
 {:outline 99, :base 39, :detail nil, :shadow nil}
 {:outline 100, :base 40, :detail nil, :shadow nil}
 {:outline 101, :base 41, :detail 64, :shadow nil}
 {:outline 102, :base 42, :detail 65, :shadow nil}
 {:outline 103, :base 43, :detail 66, :shadow nil}
 {:outline 104, :base 44, :detail 67, :shadow nil}
 {:outline 105, :base 45, :detail 68, :shadow nil}
 {:outline 106, :base 46, :detail 69, :shadow nil}
 {:outline 107, :base 47, :detail 70, :shadow nil}
 {:outline 108, :base 48, :detail nil, :shadow nil}
 {:outline 109, :base 49, :detail nil, :shadow nil}
 {:outline 110, :base 50, :detail nil, :shadow nil}
 {:outline 111, :base 51, :detail nil, :shadow nil}
 {:outline 112, :base 52, :detail nil, :shadow nil}
 {:outline 113, :base 53, :detail nil, :shadow nil}]
