[{:outline 26, :base nil, :detail nil, :shadow nil}
 {:outline 27, :base nil, :detail nil, :shadow nil}
 {:outline 28, :base nil, :detail nil, :shadow nil}
 {:outline 29, :base nil, :detail nil, :shadow nil}
 {:outline 30, :base nil, :detail nil, :shadow nil}
 {:outline 31, :base nil, :detail nil, :shadow nil}
 {:outline 32, :base nil, :detail nil, :shadow nil}
 {:outline 33, :base nil, :detail nil, :shadow nil}
 {:outline 34, :base nil, :detail nil, :shadow nil}
 {:outline 35, :base nil, :detail nil, :shadow nil}
 {:outline 36, :base nil, :detail nil, :shadow nil}
 {:outline 37, :base nil, :detail nil, :shadow nil}
 {:outline 38, :base nil, :detail nil, :shadow nil}
 {:outline 39, :base nil, :detail nil, :shadow nil}
 {:outline 40, :base nil, :detail nil, :shadow nil}
 {:outline 41, :base 12, :detail nil, :shadow nil}
 {:outline 42, :base nil, :detail nil, :shadow nil}
 {:outline 43, :base 13, :detail nil, :shadow nil}
 {:outline 44, :base 14, :detail nil, :shadow nil}
 {:outline 45, :base 15, :detail nil, :shadow nil}
 {:outline 46, :base 16, :detail nil, :shadow nil}
 {:outline 47, :base 17, :detail nil, :shadow nil}
 {:outline 48, :base 18, :detail nil, :shadow nil}
 {:outline 49, :base 19, :detail nil, :shadow nil}
 {:outline 50, :base 20, :detail nil, :shadow nil}
 {:outline 51, :base 20, :detail 24, :shadow nil}
 {:outline 52, :base nil, :detail nil, :shadow nil}]
