<div class="d-flex flex-column">
  <label class="nes-btn">
    <span>Select your file</span>
    <input type="file" id="fileInput" style="display: none;" (change)="addImage($event)">
  </label>
  <div class="row" *ngIf="data">
    <div class="col-md-5 showcase" id="ctrl">
      <div class="nes-container">
        <image-list
          [data]="data"
          (countUpdated)="updateCount($event)"
          (imageRemoved)="deleteImage($event)"></image-list>
      </div>
    </div>
    <div class="col-md-7 showcase h-100">
      <div class="nes-container h-100">
        <button class="nes-btn" (click)="publish()">Publish</button>
        <p></p>
        <mini-gallery [data]="data"></mini-gallery>
        <p></p>
      </div>
    </div>
  </div>
</div>
