@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~nes.css/css/nes.css';

html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}

input[type="color"].nes-input {
  padding: 0;
  border-radius: 0;
}

.nes-select {
  padding: 0;
}

.nes-select select {
  width: 100%;
}
