@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~nes.css/css/nes.css';

html, body, pre, code, kbd, samp {
  font-family: "Press Start 2P";
}

input[type="color"].nes-input {
  padding: 0;
  border-radius: 0;
}

.nes-select {
  padding: 0;
}

.nes-select select {
  width: 100%;
}

.nes-btn.minimize {
  position: absolute;
  top: 2px;
  right: 2px;
}

.palette {
  margin: 0;
  padding: 0;
}

.palette-item {
  float:left;
}

.palette-color {
  display: block;
  font-size: 2em
}

.hide {
  display: none;
}

accordian {
  width: 100%;
}

.nes-accordian {
  width: 100%;
}

@media print {
  header, footer {
    display: none;
  }
}
