<svg width="100%" height="100%" viewBox="{{dim()}}">
  <ng-container *ngIf="schematic.bgColor">
    <rect x="{{minX}}" y="{{minY}}" width="{{width}}" height="{{height}}" fill="{{schematic.bgColor}}" stroke="none"></rect>
  </ng-container>
  <ng-container *ngIf="schematic.bgPattern">
    <rect x="{{minX}}" y="{{minY}}" width="{{width}}" height="{{height}}" fill="url(#pattern_{{schematic.bgPattern>=10?'':'0'}}{{schematic.bgPattern}})" stroke="none"></rect>
  </ng-container>
  <g transform="{{bodyMatrix()}}">
    <ng-container *ngFor="let layer of schematic.layers">
      <display-layer [layer]="layer" [part]="meta.parts[layer.part][layer.index]"></display-layer>
    </ng-container>
  </g>
</svg>
