[{:outline 104, :base 18, :detail 63, :shadow 103}
 {:outline 105, :base 19, :detail 64, :shadow 148}
 {:outline 106, :base 20, :detail 65, :shadow 150}
 {:outline 107, :base 21, :detail 66, :shadow 152}
 {:outline 108, :base 22, :detail 67, :shadow 154}
 {:outline 109, :base 23, :detail 68, :shadow 156}
 {:outline 110, :base 24, :detail 69, :shadow 158}
 {:outline 111, :base 25, :detail 70, :shadow 160}
 {:outline 112, :base 26, :detail 71, :shadow 162}
 {:outline 113, :base 27, :detail 72, :shadow 164}
 {:outline 114, :base 28, :detail 73, :shadow 166}
 {:outline 115, :base 29, :detail 74, :shadow 168}
 {:outline 116, :base 30, :detail 75, :shadow 170}
 {:outline 117, :base 31, :detail 76, :shadow 172}
 {:outline 118, :base 32, :detail 77, :shadow 174}
 {:outline 119, :base 33, :detail 78, :shadow 176}
 {:outline 120, :base 34, :detail 79, :shadow 178}
 {:outline 121, :base 35, :detail 80, :shadow 180}
 {:outline 122, :base 36, :detail 81, :shadow 182}
 {:outline 123, :base 37, :detail 82, :shadow nil}
 {:outline 124, :base 38, :detail 83, :shadow 186}
 {:outline 125, :base 39, :detail 84, :shadow 188}
 {:outline 126, :base 40, :detail 85, :shadow 190}
 {:outline 127, :base 41, :detail 86, :shadow 192}
 {:outline 128, :base 42, :detail 87, :shadow 194}
 {:outline 129, :base 43, :detail 88, :shadow 196}
 {:outline 130, :base 44, :detail 89, :shadow 198}
 {:outline 131, :base 45, :detail 90, :shadow 200}
 {:outline 132, :base 46, :detail 91, :shadow 202}
 {:outline 133, :base 47, :detail 92, :shadow 204}
 {:outline 134, :base 48, :detail 93, :shadow 206}
 {:outline 135, :base 49, :detail 94, :shadow 208}
 {:outline 136, :base 50, :detail 95, :shadow 210}
 {:outline 137, :base 51, :detail 96, :shadow 212}
 {:outline 138, :base 52, :detail 97, :shadow 214}
 {:outline 139, :base 53, :detail 98, :shadow 216}
 {:outline 140, :base 54, :detail 99, :shadow 217}]
