{{:width "65.9px", :height "105.9px"} [18], {:width "86.4px", :height "115.0px"} [13], {:width "65.45px", :height "78.1px"} [19], {:width "65.3px", :height "80.35px"} [25], {:width "850.0px", :height "650.0px"} [11], {:width "49.65px", :height "58.2px"} [32], {:width "65.9px", :height "65.25px"} [17], {:width "59.2px", :height "54.75px"} [29], {:width "20.0px", :height "20.0px"} [22], {:width "74.65px", :height "106.9px"} [27 30 31 33], {:width "47.5px", :height "47.5px"} [1], {:width "73.65px", :height "105.9px"} [12 16], {:width "66.9px", :height "106.9px"} [35], {:width "66.45px", :height "79.1px"} [36], {:width "87.4px", :height "116.0px"} [28], {:width "58.2px", :height "38.0px"} [24], {:width "66.9px", :height "66.25px"} [34], {:width "65.7px", :height "37.1px"} [20], {:width "38.1px", :height "53.75px"} [14], {:width "86.4px", :height "36.8px"} [39], {:width "66.7px", :height "38.1px"} [37], {:width "73.65px", :height "103.95px"} [15], {:width "72.95px", :height "105.1px"} [40]}