[{:outline 68, :base 39, :detail 54, :shadow 67}
 {:outline 69, :base 40, :detail 55, :shadow 89}
 {:outline 70, :base 41, :detail 56, :shadow 90}
 {:outline 71, :base 42, :detail 57, :shadow 91}
 {:outline 72, :base 43, :detail 58, :shadow 92}
 {:outline 73, :base 44, :detail 59, :shadow 93}
 {:outline 74, :base 45, :detail 60, :shadow 94}
 {:outline 75, :base 46, :detail 61, :shadow 95}
 {:outline 76, :base 47, :detail nil, :shadow 96}
 {:outline 77, :base 48, :detail nil, :shadow 97}
 {:outline 78, :base 49, :detail 62, :shadow 98}
 {:outline 79, :base 50, :detail 63, :shadow 99}
 {:outline 80, :base 51, :detail 64, :shadow 100}]
