textarea.pixel-canvas {

  &:before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    border-right: 1px solid #ddd;
    padding: 0 .5em;
    margin-right: .5em;
    color: #888
  }
}

hr {
  border-top: 4px solid black;
}
