<form [formGroup]="spritelyForm" class="topic">
  <div style="display: none">
    <select id="palette" class="form-control" formControlName="selectedPalette" (change)="selectColor()">
      <ng-container *ngFor="let color of palette; index as i">
        <option *ngIf="i > 0" value="{{i}}">{{i}} - {{color||'Transparent'}}</option>
      </ng-container>
    </select>
    <input #colorPicker type="color" id="color" class="nes-input form-control" formControlName="color" value="#000001" (change)="setColor()"/>
  </div>
  <div class="showcase col-lg-12">
    <div class="nes-container with-title">
      <div class="title">
        <label>Spritely </label>
      </div>
      <div class="row small">
        <div class="col-lg-5">
          <accordian
            tabId="fileTab"
            containerId="fileContainer"
            [initCollapsed]="true"
            label="File">
            <file-form
              [defaultSaveFile]="defaultSaveFile"
              [prepareLoadedData]="fileDataReader()"
              [fileLoadCallback]="fileLoadCallback()"
              [invokeDownload]="dataDownloader()">
            </file-form>
          </accordian>
          <accordian
            tabId="directionsTab"
            containerId="directionsContainer"
            [initCollapsed]="true"
            label="Help">
            <div class="nes-balloon from-left">
              <p>Spritely is a canvas for pixel art.</p>
            </div>
            <div class="nes-balloon from-right">
              <p>Build your palette below, then select a color in the palette to paint pixels that color, or to unpaint pixels already that color.</p>
            </div>
            <div class="nes-balloon from-left">
              <p>Changing the color of a slot in the palette will change the color of all matching pixels.</p>
            </div>
            <div class="nes-balloon from-right">
              <p>Deleting a color will unpaint all pixels that matching color</p>
            </div>
            <div class="nes-balloon from-left">
              <p>Unpainting pixels will return them to the background color.</p>
            </div>
          </accordian>
          <div class="row">
            <div class="col-md-12">
              <div class="showcase">
                <div class="nes-container with-title">
                  <div class="title">
                    <label>Palette</label>
                  </div>
                  <div class="row">
                    <div class="col-sm-5 text-right">
                      <label for="backgroundColor" class="text-brand">Background Color:</label>
                    </div>
                    <div class="col-sm-7">
                      <input type="color" id="backgroundColor" class="nes-input form-control" formControlName="backgroundColor" value="#fffffe" (change)="setBackground()"/>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <label for="makeTransparent" class="text-brand">
                        <input type="checkbox" id="makeTransparent" class="nes-checkbox" formControlName="makeTransparent" (change)="makeTransparent()">
                        <span>
                          Make Transparent?
                        </span>
                      </label>
                    </div>
                  </div>
                  <hr/>
                  <div class="row">
                    <div class="col-sm-12 text-center">
                      <button class="nes-btn is-success" (click)="addColor()">Add Color</button>
                      <button class="nes-btn is-error" (click)="removeColor()">Remove Color</button>
                    </div>
                  </div>
                  <p></p>
                </div>
              </div>
            </div>
          </div>
          <accordian
            tabId="transformsTab"
            containerId="transformsContainer"
            [initCollapsed]="true"
            label="Transforms">
            <div class="row">
              <div class="col-sm-12 text-center">
                <button class="nes-btn is-warning" (click)="transform('turnLeft')">Turn Left</button>
                <button class="nes-btn is-warning" (click)="transform('turnRight')">Turn Right</button>
                <button class="nes-btn is-warning" (click)="transform('flipOver')">Flip Over</button>
                <button class="nes-btn is-warning" (click)="transform('flipDown')">Flip Down</button>
                <button class="nes-btn is-warning" (click)="transform('shiftLeft')">Shift Left</button>
                <button class="nes-btn is-warning" (click)="transform('shiftRight')">Shift Right</button>
                <button class="nes-btn is-warning" (click)="transform('shiftUp')">Shift Up</button>
                <button class="nes-btn is-warning" (click)="transform('shiftDown')">Shift Down</button>
              </div>
            </div>
          </accordian>
          <div class="row">
            <div class="col-md-12">
              <div class="showcase">
                <div class="nes-container with-title">
                  <div class="title">
                    <label>Image</label>
                  </div>
                  <div class="row">
                    <div class="col-lg-4 col-md-6">
                      <div class="row">
                        <div class="col-sm-12">
                          <label for="scale" class="text-brand">Scale:</label>
                          <input type="number" min="1" max="20" id="scale" class="nes-input" formControlName="scale"/>
                        </div>
                        <div class="col-sm-12">
                          <label for="imgFile" class="text-brand">Image FileName:</label>
                          <input type="text" id="imgFile" class="nes-input" formControlName="imgFile" placeholder="Image File"/>
                        </div>
                      </div>
                    </div>
                    <div class="col-8 text-right">
                      <button class="nes-btn" (click)="downloadImage()">
                        <pixel-painter
                          [pixels]="pixels"
                          [scale]="spritelyForm.value.scale"
                          [width]="spritelyForm.value.width"
                          [height]="spritelyForm.value.height"
                          [palette]="palette"
                        ></pixel-painter>
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-7">
          <div class="showcase">
            <div class="nes-container">
              <div class="row">
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-5 text-right">
                      <label for="width" class="text-brand">Width:</label>
                    </div>
                    <div class="col-sm-7">
                      <input type="number" min="8" max="64" id="width" class="nes-input" formControlName="width" (change)="resize()"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div class="col-sm-5 text-right">
                      <label for="height" class="text-brand">Height:</label>
                    </div>
                    <div class="col-sm-7">
                      <input type="number" min="8" max="64" id="height" class="nes-input" formControlName="height" (change)="resize()"/>
                    </div>
                  </div>
                </div>
                <div class="col-md-12">
                  <app-palette-display
                    [palette]="palette"
                    [href]="'#/spritely'"
                    [selectFn]="colorIndexSetter()"
                    [setColorFn]="colorSetter()"
                  ></app-palette-display>
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-12">
                  <app-pixel-canvas
                    class="col-12"
                    [pixels]="pixels"
                    [scale]="10"
                    [width]="min(spritelyForm.value.width,64)"
                    [height]="min(spritelyForm.value.height,64)"
                    [palette]="palette"
                    [backgroundColor]="spritelyForm.value.backgroundColor"
                    [colorIndex]="spritelyForm.value.selectedPalette"
                    page="spritely"
                  ></app-pixel-canvas>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<pixel-pending label="Download"></pixel-pending>
