[{:outline 82, :base 12, :detail nil, :shadow nil}
 {:outline 83, :base 13, :detail nil, :shadow nil}
 {:outline 84, :base 14, :detail 53, :shadow nil}
 {:outline 85, :base 15, :detail 54, :shadow nil}
 {:outline 86, :base 16, :detail 55, :shadow nil}
 {:outline 87, :base 17, :detail 56, :shadow nil}
 {:outline 88, :base 18, :detail nil, :shadow nil}
 {:outline 89, :base 19, :detail 57, :shadow nil}
 {:outline 90, :base 20, :detail 58, :shadow nil}
 {:outline 91, :base 21, :detail nil, :shadow 121}
 {:outline 92, :base 22, :detail 59, :shadow nil}
 {:outline 93, :base 23, :detail 60, :shadow nil}
 {:outline 94, :base 24, :detail 61, :shadow nil}
 {:outline 95, :base 25, :detail 62, :shadow nil}
 {:outline 96, :base 26, :detail 63, :shadow nil}
 {:outline 97, :base 27, :detail 64, :shadow nil}
 {:outline 98, :base 28, :detail nil, :shadow nil}
 {:outline 99, :base 29, :detail 65, :shadow nil}
 {:outline 100, :base 30, :detail 66, :shadow nil}
 {:outline 101, :base 31, :detail nil, :shadow nil}
 {:outline 102, :base 32, :detail nil, :shadow nil}
 {:outline 103, :base 33, :detail 67, :shadow nil}
 {:outline 104, :base 34, :detail 68, :shadow nil}
 {:outline 105, :base 35, :detail 69, :shadow nil}
 {:outline 106, :base 36, :detail 70, :shadow nil}
 {:outline 107, :base 37, :detail nil, :shadow nil}
 {:outline 108, :base 38, :detail 71, :shadow nil}
 {:outline 109, :base 39, :detail 72, :shadow nil}
 {:outline 110, :base 40, :detail nil, :shadow 122}
 {:outline 111, :base 41, :detail 73, :shadow nil}
 {:outline 112, :base 42, :detail 74, :shadow nil}
 {:outline 113, :base 43, :detail 75, :shadow nil}
 {:outline 114, :base 44, :detail 76, :shadow nil}
 {:outline 115, :base 45, :detail 77, :shadow nil}
 {:outline 116, :base 46, :detail 78, :shadow nil}
 {:outline 117, :base 47, :detail nil, :shadow nil}
 {:outline 118, :base 48, :detail 79, :shadow nil}
 {:outline 119, :base 49, :detail 80, :shadow nil}]
