.outfitter-layer {
    display: block;
    position: relative;
}

.drag-btn {
    position: absolute;
    top: 0px;
    left: 0px;
}

.close-btn {
    position: absolute;
    top: 0px;
    right: 0px;
}

.layer-btn {
    padding: 2%;
}