[{:outline 43, :base 17, :detail 31, :shadow 57}
 {:outline 44, :base 18, :detail 32, :shadow 58}
 {:outline 45, :base 19, :detail 33, :shadow 59}
 {:outline 46, :base 20, :detail 34, :shadow 60}
 {:outline 47, :base 21, :detail 35, :shadow 61}
 {:outline 48, :base 22, :detail 36, :shadow 62}
 {:outline 49, :base 23, :detail 37, :shadow 63}
 {:outline 50, :base 24, :detail 38, :shadow 64}
 {:outline 51, :base 25, :detail 39, :shadow 65}
 {:outline 52, :base 26, :detail 40, :shadow 66}
 {:outline 53, :base 27, :detail 41, :shadow 67}
 {:outline 54, :base 28, :detail nil, :shadow 68}
 {:outline 55, :base 29, :detail nil, :shadow 69}
 {:outline nil, :base nil, :detail nil, :shadow 70}
 {:outline nil, :base nil, :detail nil, :shadow 71}
 {:outline nil, :base nil, :detail nil, :shadow 72}
 {:outline nil, :base nil, :detail nil, :shadow 73}
 {:outline nil, :base nil, :detail nil, :shadow 74}
 {:outline nil, :base nil, :detail nil, :shadow 75}
 {:outline nil, :base nil, :detail nil, :shadow 76}
 {:outline nil, :base nil, :detail nil, :shadow 77}
 {:outline nil, :base nil, :detail nil, :shadow 78}
 {:outline nil, :base nil, :detail nil, :shadow 79}]
