[{:outline nil, :base 12, :detail 47, :shadow 115}
 {:outline nil, :base 13, :detail 54, :shadow 116}
 {:outline 56, :base 14, :detail nil, :shadow nil}
 {:outline nil, :base 15, :detail nil, :shadow 117}
 {:outline 59, :base 16, :detail nil, :shadow 118}
 {:outline 61, :base 17, :detail nil, :shadow 119}
 {:outline 63, :base 18, :detail nil, :shadow 120}
 {:outline 65, :base 19, :detail nil, :shadow 122}
 {:outline 69, :base 20, :detail nil, :shadow 123}
 {:outline 71, :base 21, :detail 48, :shadow 124}
 {:outline nil, :base 22, :detail nil, :shadow 125}
 {:outline 75, :base 23, :detail nil, :shadow 126}
 {:outline nil, :base 24, :detail nil, :shadow 127}
 {:outline nil, :base 25, :detail nil, :shadow 128}
 {:outline nil, :base 26, :detail nil, :shadow 129}
 {:outline nil, :base 27, :detail nil, :shadow 130}
 {:outline 81, :base 28, :detail nil, :shadow 131}
 {:outline 83, :base 29, :detail nil, :shadow 132}
 {:outline 85, :base 30, :detail nil, :shadow 133}
 {:outline 87, :base 31, :detail nil, :shadow 134}
 {:outline 89, :base 32, :detail 49, :shadow 135}
 {:outline 91, :base 33, :detail 50, :shadow 136}
 {:outline 93, :base 34, :detail nil, :shadow nil}
 {:outline nil, :base 35, :detail nil, :shadow 137}
 {:outline 96, :base 36, :detail nil, :shadow 138}
 {:outline 98, :base 37, :detail nil, :shadow 139}
 {:outline 100, :base 38, :detail nil, :shadow 140}
 {:outline 102, :base 39, :detail nil, :shadow 141}
 {:outline 104, :base 40, :detail nil, :shadow 142}
 {:outline 106, :base 41, :detail nil, :shadow 143}
 {:outline nil, :base 42, :detail nil, :shadow 144}
 {:outline nil, :base 43, :detail 51, :shadow 145}]
