[["flame-fist" :base 12]
 ["inferno-fist" :base 13]
 ["lightning-fist" :base 14]
 ["snowflake-fist" :base 15]
 ["star-fist" :base 16]
 ["bubble-fist" :base 17]
 ["earthbender-fist" :base 18]
 ["stoneshape-fist" :base 19]
 ["ooze-fist" :base 20]
 ["radiation-fist" :base 21]
 ["energy-sphere-fist" :base 22]
 ["smoke-fist" :base 23]
 ["star-eyes" :base 24]
 ["star-eye" :base 25]
 ["lightning-eyes" :base 26]
 ["lightning-eye" :base 27]
 ["smoke-eyes" :base 28]
 ["smoke-eye" :base 29]
 ["energy-eyes" :base 30]
 ["energy-eye" :base 31]
 ["inferno-head" :base 32]
 ["inferno-body" :base 33]
 ["lightning-body" :base 34]
 ["snowflake-body" :base 35]
 ["star-body" :base 36]
 ["bubbles-body" :base 37]
 ["earthbender-body" :base 38]
 ["plasma-legs" :base 39]
 ["whirlwind" :base 40]
 ["lightning-bolt" :base 41]
 ["tk-base" :base 42]
 ["daemon" :base 43]
 ["flame-fist" :detail 47]
 ["radiation-fist" :detail 48]
 ["inferno-head" :detail 49]
 ["inferno-body" :detail 50]
 ["daemon" :detail 51]
 ["inferno-fist" :detail 54]
 ["lightning-fist" :outline 56]
 ["star-fist" :outline 59]
 ["bubble-fist" :outline 61]
 ["earthbender-fist" :outline 63]
 ["stoneshape-fist" :outline 65]
 ["ooze-fist" :outline 69]
 ["radiation-fist" :outline 71]
 ["smoke-fist" :outline 75]
 ["smoke-eyes" :outline 81]
 ["smoke-eye" :outline 83]
 ["energy-eyes" :outline 85]
 ["energy-eye" :outline 87]
 ["inferno-head" :outline 89]
 ["inferno-body" :outline 91]
 ["lightning-body" :outline 93]
 ["star-body" :outline 96]
 ["bubbles-body" :outline 98]
 ["earthbender-body" :outline 100]
 ["plasma-legs" :outline 102]
 ["whirlwind" :outline 104]
 ["lightning-bolt" :outline 106]
 ["flame-fist" :shadow 115]
 ["inferno-fist" :shadow 116]
 ["snowflake-fist" :shadow 117]
 ["star-fist" :shadow 118]
 ["bubble-fist" :shadow 119]
 ["earthbender-fist" :shadow 120]
 ["stoneshape-fist" :shadow 122]
 ["ooze-fist" :shadow 123]
 ["radiation-fist" :shadow 124]
 ["energy-sphere-fist" :shadow 125]
 ["smoke-fist" :shadow 126]
 ["star-eyes" :shadow 127]
 ["star-eye" :shadow 128]
 ["lightning-eyes" :shadow 129]
 ["lightning-eye" :shadow 130]
 ["smoke-eyes" :shadow 131]
 ["smoke-eye" :shadow 132]
 ["energy-eyes" :shadow 133]
 ["energy-eye" :shadow 134]
 ["inferno-head" :shadow 135]
 ["inferno-body" :shadow 136]
 ["snowflake-body" :shadow 137]
 ["star-body" :shadow 138]
 ["bubbles-body" :shadow 139]
 ["earthbender-body" :shadow 140]
 ["plasma-legs" :shadow 141]
 ["whirlwind" :shadow 142]
 ["lightning-bolt" :shadow 143]
 ["tk-base" :shadow 144]
 ["daemon" :shadow 145]]
