<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Palettes</h4>
      </div>
      <div class="card-body">
        <button type="button" class="btn btn-primary" (click)="addPalette()">Add Palette</button>
        <div class="form-group">
          <label for="paletteSelect">Select Palette:</label>
          <select class="form-control" id="paletteSelect">
            <option *ngFor="let paletteName of getService().getPaletteNames()"
                    value="{{paletteName}}" [selected]="paletteName === selectedPalette"
                    (change)="selectPalette(paletteName)">{{paletteName}}</option>
          </select>
        </div>
        <div *ngIf="selectedPalette" class="form-group">
          <label for="colorSelect">Select Color:</label>
          <select class="form-control" id="colorSelect">
            <option *ngFor="let color of getService().getPalette(selectedPalette); index as i" value="{{i}}" (change)="selectColor(i)">{{color}}</option>
          </select>
          <input type="color" id="colorPicker" (change)="pickColor()"/>
          <button type="button" class="btn btn-primary" (click)="addColor()">Add Color</button>
        </div>
        <div *ngIf="selectedColorIndex" class="form-group">
          <button type="button" class="btn btn-primary" (click)="makeTransparent()">Make Transparent</button>
          <button type="button" class="btn btn-primary" (click)="updateColor()">Update Color</button>
          <button type="button" class="btn btn-danger" (click)="makeTransparent()">Remove Color From Palette</button>

        </div>

      </div>
    </div>
  </div>
</div>
